[2014-03-23 18:45] snostorm opened #1 "Move website DNS to project"
- Add file for github to recognize the TDL
- Switch DNS to point at github pages

[2014-03-23 18:47] snostorm opened #2 "Upload index.html and related files for hosting?"
Hi Mark: not sure if you're just planning to upload the existing index.html right now or planning to do something more complicated (like Jekyll) right off the bat.

Once we have something in this repo I can re-assign the DNS. (I can also move what I have online now in here as the starting point.)

[2014-03-23 18:51] MarkBennett commented on #2
Hey Sean!

The existing site is great so I'll probably just cut and paste then we can
tweak once it's working with new dates etc.

I got the sense from Roberto that he wanted it off of S3.

I'll copy the current site over this week. Do you have a zip of the S3
bucket? Otherwise I probably just scrape the site.

[2014-04-02 15:20] redmantech commented on #2
Hey Mark, I added the files to Github https://github.com/redmantech/Exchangejs.com so you can grab them.

[2015-03-06 00:40] ryanramage opened #3 "Adopt a Code Of Conduct"
In person communities always benefit from a code of conduct, to encourage good behaviour and diversity. I propose to adopt this:

http://confcodeofconduct.com/

And just rename 'conference' to  'exchangejs' . We can then link to it each meetup.

[2015-03-06 04:52] MarkBennett commented on #3
Great idea @ryanramage. This looks like as good a starting place as any for a code of conduct.

@seanhealy @abramhindle @JeffMarvin any thoughts?

[2015-03-27 20:14] MarkBennett commented on #2
We're hosted on GitHub now. Closing.

[2015-03-27 20:14] #2 closed

[2015-03-30 20:44] MarkBennett commented on #3
The Code of Conduct is live on our site now:

http://www.exchangejs.com/code-of-conduct.html

Closing this issue.

[2015-03-30 20:44] #3 closed

[2015-03-30 20:47] ryanramage commented on #3
awesome, thanks!

[2016-01-21 20:51] #1 closed

[2016-01-21 20:52] MarkBennett opened #10 "Add JS to redirect from HTTP to HTTPS"
We want to start using Service Workers and other API's which require HTTPS, so lets get everyone used to using them.

[2016-02-23 05:21] MarkBennett opened #16 "Pull meetup details from Github or Meetup.com"
Looking for ways to update website without manually needing to change index.html

[2016-02-23 05:21] MarkBennett commented on #16
Let's do this @seanhealy! :)

[2016-02-23 16:11] MarkBennett opened #17 "Contact Sean O. about getting involved again"

[2016-02-23 16:11] MarkBennett commented on #17
I sent him an email this morning. Will update.

[2016-02-23 16:46] MarkBennett opened #18 "Link slides for recent months on web site"
The current website lists past meetups with their slides, but it's very out of date. This should be updated.

[2016-02-23 16:49] MarkBennett opened #19 "Member survey"
So that we can understand who are members are, and how we can best serve the local community, we need to send out a short member survey that we can share at the March 3rd meetup.

* [x] draft survey
* [x] send out survey for review
* [x] finalize survey
* [x] share survey with members
* [x] close survey and compile results

[2016-02-23 16:50] MarkBennett commented on #19
Via @abramhindle in last nights planning meeting:

[2016-02-23 16:53] MarkBennett opened #20 "Create a sponsorship package"
Deliver a one-page PDF we can send to sponsors. It should describe:

1) What the meetup is
2) Our mission
3) Who our members are
4) What we're going to do with the money
5) What you get for sponsoring
6) Our sponsorship levels
7) How to donate

[2016-02-23 16:54] MarkBennett opened #21 "Callout for speakers at Startup Edmonton"

[2016-02-23 16:55] MarkBennett commented on #21
@seanhealy you mentioned you could talk to Warren about this?

[2016-02-23 17:00] MarkBennett opened #22 "Setup expense approval spreadsheet"
The expense approval sheet should be used before items are expensed to get approval for the expense from the exec. As discussed, to be approved an expense must be:

1) Declared in advance of the purchase
2) Approved by a majority of the exec
3) Noted if it's a one-time or recurring expense

After the expense is approved, the submitter should either a) pay and then talk to the treasurer about getti

[2016-02-23 17:01] MarkBennett commented on #22
I'll set this up as a spreadsheet in Google which we can use to do the voting. As @seanhealy we can tie changes to our Google accounts for verification.

[2016-02-23 17:10] MarkBennett opened #23 "Setup global repo for all monthly meetups"
We decided to setup a single repository we can use for all monthly meetups. This repository will include:

1) Slides for all meetup notes
2) An issue for each meetup

The pro's of doing this are that we can eliminate the duplication of work and resources between months, and use an issue template to help with planning them. It also means that there is only one repository you need to check out to ac

[2016-02-23 17:16] MarkBennett commented on #23
Question, do we want to put this into the same repo as [the exchangejs.com website](https://github.com/ExchangeJS/exchangejs.github.io), or into a secondary repository just for meetup planning?

My vote is to split them. This lets us treat the main website as a single app. The code it uses is very different from those for the monthly slides, and then we can separate our meetup planning from mainta

[2016-02-23 17:16] MarkBennett opened #24 "Setup github template for monthly issue template"
Create an issue template we can use planning our monthly meetups. This will include a TODO list of items we need to handle each month.

[2016-02-23 17:17] MarkBennett commented on #24
This is blocked until we decide what's happening with #23.

[2016-02-23 17:19] MarkBennett opened #25 "Setup Stuff for Github issues"

[2016-02-23 17:20] MarkBennett commented on #25
What "stuff" were you referring to with this @seanhealy? Off the top of my head, I think we need to decide on where issues related to running the meetup go. Do they belong in this repo, or the new one for the slides? I don't want to impose too much process beyond that just yet but am curious what your ideas are.

Once we decide on #23 I think this will be much clearer.

[2016-02-23 17:21] MarkBennett opened #26 "Email Gerry about exchange-org -- still involved?"

[2016-02-23 17:22] MarkBennett opened #27 "Email friend for info about how to broadcast talks"
We'd like to start recording our talks and Sean's friend has some experience doing that.

[2016-02-23 17:23] MarkBennett opened #28 "Record talks"
Starting September 2016 we'd like to record our meetups for broadcast to our members live and offline later.

[2016-02-23 17:23] MarkBennett opened #29 "Get @exchangejs from Twitter"

[2016-02-23 17:24] MarkBennett opened #30 "Talk to Sean O. about getting an email address at @exchangejs.com"
It sounds like Twitter will want to see email from xyz@exchangejs.com to get our twitter handle. @snostorm runs the domain and would therefore need to set this up.

[2016-02-23 17:25] MarkBennett commented on #30
@snostorm would this be hard to setup? Alternatively, if you want to transfer the domain to someone else we can set this up pretty quickly too. Thanks!

[2016-02-23 17:36] abramhindle commented on #26
Discussion on org-list. Gerry voluntarily steps down and requests that we look for new blood for the org-committee.

[2016-02-23 17:36] #26 closed

[2016-02-23 21:12] MarkBennett commented on #10
I added JS to do this redirect for browsers which don't support the HTTP header. Closing.

[2016-02-23 21:12] #10 closed

[2016-02-25 21:18] MarkBennett commented on #28
I was watching a talk on the new Servo Webrenderer and noticed that Mozilla publishes the source for http://air.mozilla.com. It looks like this might include a nice setup for their video streams with shots of the speaker and their machine.

https://github.com/mozilla/airmozilla

I'll dig through it and see what I can find.

[2016-02-27 16:31] MarkBennett commented on #23
Hey guys, I haven't heard back from anyone on this. I'm going to go ahead and make the new repo the will contain all notes going forward.

[2016-02-27 16:33] MarkBennett commented on #30
Haven't heard anything from Sean yet. I tried him on Facebook this morning but I think we'll need to consider this blocked.

Does anyone else know a good way to reach him?

[2016-02-27 18:23] seanhealy commented on #23
I would prefer to put them in the same one I think…

[2016-02-27 18:54] MarkBennett commented on #23
@seanhealy can you elaborate? Do you mean notes, website, issues?

[2016-02-27 19:01] MarkBennett commented on #23
Ok. We've already agreed on setting up a single repo for the notes. I'll go ahead and do that and we can decide where the issues go later once others have a chance to weigh in. We can have the discussion of where issues go in #25.

[2016-02-28 05:21] MarkBennett opened #31 "March 2016 Meetup"
Arrange and present the meetup.

## To Do
* [x] Find a sponsor
* [X] Arrange MC (Mark)
* [x] Arrange food
* [x] Update speakers in notes
* [X] Update events in notes
* [X] Update next meetup in notes
* [X] Update news and software releases in notes
* [X] Update job listings
* [x] Update introduction question
* [x] Update sponsor thank you
* [x] Mention exec and volunteer selection at June meetup

[2016-02-28 05:22] MarkBennett commented on #31
I'm thinking we use this issue to plan this months meetup, then it can become the basis for a template we can use in the future.

[2016-02-28 18:06] MarkBennett commented on #19
Here are some ideas for questions..
- how long have you been coming to the meetup?
- how would you describe your JavaScript skill level: beginner, intermediate, or advanced?
- have you been looking for work or new contracts in the past year?
- why do you come to the meetup?
- what works well at the meetup now?
- what should we do more of at future events?
- what isn't working for you with the meet

[2016-02-28 18:09] MarkBennett commented on #31
Need to mention upcoming exec selection and summer planning and volunteer opportunities.

[2016-02-29 05:04] MarkBennett opened #32 "Fix our favicon"
Our current favicon is illegible. We may need to make a new file from scratch, but luckily it's just "ejs" in black on a yellow background so that shouldn't be hard.

[2016-02-29 05:11] MarkBennett commented on #31
@abramhindle if you let me know the title of your talk I can add it to the notes. Thanks!

[2016-02-29 05:19] MarkBennett commented on #31
I've created #33 with a PR for the new notes. Still a few things to update but feel free to make edits on the branch and after it's merged into master.

[2016-02-29 05:20] abramhindle commented on #31
Introduction to Scope & Functions in Javascript

[2016-02-29 05:26] MarkBennett commented on #31
Thanks @abramhindle. Added!

[2016-02-29 05:32] MarkBennett commented on #31
All the speakers and notes are done, except for figuring out the sponsor. I believe Jobber sponsored last month. @seanhealy do you think Clio would be willing again?

[2016-02-29 18:11] seanhealy commented on #31
@MarkBennett Clio is in for sure! We're also looking hard for a Sr. JS dev so, this lines up nicely. :)

[2016-02-29 18:12] seanhealy commented on #32
I can take this one.

[2016-02-29 19:56] MarkBennett commented on #32
Thanks!

[2016-02-29 20:05] MarkBennett commented on #31
Thanks @seanhealy! I'll update notes and merge later today. Just need to add news about upcoming exec selection.

[2016-02-29 22:48] MarkBennett commented on #31
@abramhindle How does this slide look to introduce your talk. Might still tweak CSS but are contents and links good?

https://www.exchangejs.com/events/mar-2016/#/7/1

[2016-02-29 22:48] MarkBennett commented on #31
I'm merged the pull request. You can now edit the notes for Thursday's meetup at:

https://github.com/ExchangeJS/exchangejs.github.io/blob/master/events/mar-2016/index.html

[2016-02-29 22:49] MarkBennett commented on #30
I'm meeting Sean for lunch on Thursday to catch up and will mention this to him then.

[2016-03-01 04:27] MarkBennett commented on #31
@seanhealy are you able to take care of the food for this meetup?

[2016-03-01 19:40] seanhealy commented on #31
@MarkBennett Already ordered! :)

[2016-03-09 00:33] MarkBennett commented on #30
I spoke with Sean when we met for lunch and he's looking into this. He's going to try to join us at our planning meeting Thursday night.

[2016-03-09 22:25] MarkBennett commented on #31
Meeting done

[2016-03-09 22:25] #31 closed

[2016-03-09 22:26] MarkBennett opened #35 "April 2016 Meetup"
Arrange and present the meetup.

## To Do
* [ ] Find a sponsor
* [x] Arrange MC (Mark)
* [ ] Arrange food (Sean)
* [x] Update speakers in notes
* [x] Update events in notes
* [x] Update next meetup in notes
* [x] Update news and software releases in notes
* [ ] Update job listings
* [x] Update introduction question
* [ ] Update sponsor thank you
* [x] Mention exec and volunteer selection at June m

[2016-03-09 22:54] MarkBennett opened #36 "Create a survey to understand sponsors"
If we're going to attract sponsors we need to know who they are, what they want, and amount and type of support they can provide.

This doesn't need to be fancy, but it would be useful to have results by the start of July so we can plan over the summer.

[2016-03-11 03:43] MarkBennett commented on #36
I've created a draft of the survey you can check out here. You should all be able to edit it, but it with your Google account but if for some reason you can't just let me know.

https://docs.google.com/forms/d/136u-YT5FeRzaG_o5FB5Iv1c6ylb8soDmWRlqcOCTt9M/edit?uiv=1

[2016-03-11 04:01] abramhindle commented on #19
This was discussed during the exec meeting, Jeff have you made any progress on this?

[2016-03-11 23:25] MarkBennett commented on #28
It's super rough, but I was able to stream a nice quality video to Youtube Live using the open source OBS project. Note I used the laptop microphone for this but have a studio quality external USB microphone we could use at the meetup. I'll upload another sample with that later. I've also used the Youtube tools to edit out the first 7 minutes of me messing around with the recording. It's still pro

[2016-03-14 21:50] MarkBennett commented on #28
Here's a take with external microphone and transitions.

https://www.youtube.com/watch?v=QwBvPgf0TKU&feature=youtu.be

[2016-03-21 00:08] MarkBennett commented on #19
I'm going to draft a copy of this survey so everyone has time to give feedback before we share it with members at the next meetup.

[2016-03-29 21:11] MarkBennett commented on #35
I've found a couple of speakers for this month's meetup.

1) @m.herszak is going to speak about Ionic 2
2) @_eddieantonio is doing an introduction to prototypical inheritance

I've also got a lead on one more talk, but am still trying to track them down to confirm.

[2016-03-29 21:33] MarkBennett commented on #19
Ok. I've got a draft up. Feedback welcome:

https://docs.google.com/forms/d/1xHHaW64uVKBm0UYo_yctQnwoQYCqdvVtVASYHHz7lS4/edit

[2016-03-29 21:37] MarkBennett commented on #35
I've got a placeholder for the notes up.

https://github.com/ExchangeJS/exchangejs.github.io/blob/master/events/apr-2016/index.html

Will update over the next few days.

[2016-04-04 19:16] seanhealy commented on #35
I'll get food dealt with again. :)

[2016-04-04 22:03] MarkBennett commented on #35
So the notes are basically done. The only things missing are:

1) A sponsor for this month
2) Confirmation for the job postings

[2016-04-04 22:05] MarkBennett commented on #35
Link to live notes.. https://www.exchangejs.com/events/apr-2016/#/

[2016-04-16 16:48] MarkBennett opened #38 "May 2016 Meetup"
Arrange and present the meetup.

## To Do
* [x] Find a sponsor (Jobber)
* [x] Arrange MC (Mark)
* [x] Arrange food (Ben from Jobber)
* [x] Update speakers in notes
* [x] Update events in notes
* [x] Update next meetup in notes
* [x] Update news and software releases in notes
* [x] Update job listings
* [x] Update introduction question
* [x] Update sponsor thank you
* [x] Mention exec and volunteer

[2016-04-16 16:49] MarkBennett commented on #38
@ExchangeJS/organizers I'm thinking of doing something different this month and doing a mini democamp of sorts where people get 5-10 minutes to show off something cool they've built with JavaScript. It doesn't need to be production, but it should only be code and demo, no slides or notes.

Thoughts? I'm going to send out a message to members to see what the level of interest is.

[2016-04-17 01:03] abramhindle commented on #38
That's a good idea. Do we have enough people on the list for this work? We probably want 6 or more.

[2016-04-17 15:39] MarkBennett commented on #38
I have one demo lined up but am going to start spamming everyone I know to get more. Would any of your students have something to show?

[2016-04-17 15:46] MarkBennett commented on #38
Ok, just sent out a handful of emails. Will update this issue again when I hear back.

[2016-05-03 03:58] MarkBennett commented on #38
@seanhealy won't be at Thursday's meetup but mentioned Jobber is sponsoring and @benzittlau will be taking care of the food.

[2016-05-03 03:59] MarkBennett commented on #38
Draft of notes is checked in:

https://github.com/ExchangeJS/exchangejs.github.io/blob/master/events/may-2016/index.html

[2016-05-06 00:20] MarkBennett opened #39 "June 2016 Meetup"
Arrange and present the meetup.

## To Do
* [x] Find a sponsor (Clio)
* [x] Arrange MC (Mark)
* [x] Arrange food (Sean)
* [x] Update speakers in notes
* [x] Update events in notes
* [x] Update next meetup in notes
* [x] Update news and software releases in notes
* [x] Update job listings
* [x] Update introduction question
* [x] Update sponsor thank you
* [x] Run exec and volunteer selection at Jun

[2016-05-06 04:14] MarkBennett commented on #39
Karim Baaba mentioned at the May meetup that he was interested in talking about generators. Sean H. could talk about ng-conf, and Sean O. could talk about web components. Need to follow up.

[2016-05-29 21:37] MarkBennett commented on #39
I just spoke with Karim and he's out for this month, though would still like to talk when we come back from the break in September.

[2016-05-29 21:37] MarkBennett commented on #39
@seanhealy any interest in talking about ng-conf at all?

@snostorm still interested in talking about web components?

[2016-05-29 21:39] MarkBennett commented on #39
We need to decide how to select exec for next year. I'm thinking we just take interested parties, then if we get more than 5 we do a random selection instead? My feeling is we probably won't make it that far. Agreed?

[2016-05-29 21:46] abramhindle commented on #39
I think we're probably OK for now.

I will not be in attendance that evening, I apologize.

[2016-05-30 14:13] MarkBennett commented on #39
Thanks @abramhindle!

[2016-05-31 03:33] MarkBennett commented on #39
@seanhealy any leads on a food sponsor this month?

[2016-06-01 20:32] MarkBennett commented on #39
@abramhindle are you interested in remaining on the exec? I'm just making my list for tomorrow.

[2016-06-03 14:42] MarkBennett commented on #39
Meetings done. Closing.

[2016-06-03 14:42] #39 closed

[2016-06-03 14:42] #38 closed

[2016-06-03 14:43] #35 closed

[2016-06-03 14:43] MarkBennett opened #40 "Archive old repos"
This will make it easier for new contributors to know where to go.

[2016-06-03 14:44] MarkBennett commented on #27
I believe we've got enough options already and will close this to repone later if needed.

[2016-06-03 14:44] #27 closed

[2016-06-03 14:45] MarkBennett commented on #25
We've moved all issues into this repo. Closing the others.

[2016-06-03 14:45] #25 closed

[2016-06-03 14:45] MarkBennett commented on #23
Done.

[2016-06-03 14:45] #23 closed

[2016-06-03 14:46] MarkBennett commented on #17
He's on the exec now. Closing this.

[2016-06-03 14:46] #17 closed

[2016-06-15 17:58] MHerszak opened #41 "ExchangeJS Conference in Edmonton"
I would like to organise a conference for Javascript related topics. I would aim for either May or September. Has anyone ever done that and what would you actually want one in Edmonton?

- [ ] Team up with StartUp Edmonton to help with the orga

- [ ] We could use the ExchangeJS page for Conference details and Eventbrite to sell tickets.

- [ ] Shaw Conference center as venue

- [ ] Call for propo

[2016-06-15 18:01] MHerszak commented on #28
@MarkBennett what would you suggest as a microphone? Links?

[2016-06-15 18:52] MarkBennett commented on #28
I've used the Yeti USB and it works well enough, but picks up a lot of keyboard noise when it's on the same surface as the presenters laptop. It's quite large and heavy, so I haven't been able to find a microphone stand which will support it, but perhaps placing on a padded stand of some sort would be a place to start? Otherwise, maybe we could find a cheap clip on microphone?

http://www.bluemic.

[2016-06-15 20:10] MarkBennett commented on #28
The Calgary meetup uses something like this:

https://www.amazon.ca/Yamaha-AG03-Mixer/dp/B00TY8JE60/ref=pd_sbs_267_7?ie=UTF8&dpID=51qiJqYFAmL&dpSrc=sims&preST=_AC_UL160_SR160%2C160_&psc=1&refRID=29E47XP901PV2DKR2KK3

To mix audio from various microphones and laptops so that they can stream with clear audio.

[2016-06-15 20:29] MHerszak commented on #28
The Yeti USB (http://www.bluemic.com/products/yeti/) has two different pattern in order to avoid noise and to enhance audio input. Did you select a specific pattern (BIDIRECTIONAL, or CARDIOID MODE)? The other pattern will pick up sound from anywhere.

[2016-06-15 21:06] MarkBennett commented on #41
@seanhealy I know you've organised conferences at larger venues before. Any thoughts on how we'd get this done? Do you know what we'd need to do to work with a larger venue to Shaw?

[2016-06-15 21:09] MarkBennett commented on #40
I've looked into doing this, and [GitHub doesn't support archiving repos](https://help.github.com/articles/can-i-archive-a-repository/).

Instead they suggest doing a fetch and then deleting the GitHub repo. I've already got all the talks going back to since I took over on my laptop. I can zip these up into an archive and post it online. Anyone have a problem with me deleting the old repos?

/cc @

[2016-06-15 21:17] MarkBennett commented on #19
I've just closed the survey. We had 27 responses with lots of great feedback. I'm working on summarizing the results, but you can see the raw data at:

https://docs.google.com/forms/d/1xHHaW64uVKBm0UYo_yctQnwoQYCqdvVtVASYHHz7lS4/edit#responses

[2016-06-15 21:28] MarkBennett commented on #28
I've played with both and found it still gets keyboard noise, though you're right that it does make a difference. I'm thinking a [lapel microphone (lavalier)](https://www.amazon.ca/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=Lavalier+Microphone) would make a lot of sense for what we're trying to do at the meetup since we could use it to just grab the speaker. We could then combine it wi

[2016-06-15 21:31] MarkBennett opened #42 "Use Gitter as a realtime back channel"
Hey all,

I've been using Gitter as a realtime chat room on a few other open source projects I use and am involved with. It's great because it understands things like GitHub issues and profiles, and uses GitHub for authentication and authorization.

I've setup a Gitter room to try at:

https://gitter.im/ExchangeJS?utm_source=share-link&utm_medium=link&utm_campaign=share-link

I'd be curious to get

[2016-06-15 21:40] MarkBennett opened #43 "Decide on objectives for 2016-17"
Now that the exec has been selected, I propose we start the next year by reviewing the feedback from our member survey and selecting objectives to focus on over the next year.

Our final deliverable would be:

1) A statement of our overall mission
2) A list of objectives we're going to do this year

To accomplish this, we need to:

* [x] review results of member survey
* [x] review results of spon

[2016-06-15 21:40] MarkBennett commented on #43
I'm going to mark this a blocked until I'm able to complete my summary of the member survey in #19.

[2016-06-15 21:57] MarkBennett commented on #19
Summarizing didn't take as long as I thought, here's the link!

https://docs.google.com/document/d/1QFR-3w-D8Wl5MlEfPnpBfqAyvXjlN7NzucMtznvFCe8/edit?usp=sharing

[2016-06-15 21:57] #19 closed

[2016-06-15 21:57] MarkBennett commented on #43
Summarizing the member survey didn't take as long as I thought. Here's [the summary](https://docs.google.com/document/d/1QFR-3w-D8Wl5MlEfPnpBfqAyvXjlN7NzucMtznvFCe8/edit?usp=sharing), and [the raw results](https://docs.google.com/forms/d/1xHHaW64uVKBm0UYo_yctQnwoQYCqdvVtVASYHHz7lS4/edit#responses).

[2016-06-15 21:58] MarkBennett commented on #43
Still blocked on sponsor survey.

[2016-06-15 21:59] MarkBennett commented on #43
There are only two responses to the sponsor survey. Not going to summarize. Results here:

https://docs.google.com/forms/d/136u-YT5FeRzaG_o5FB5Iv1c6ylb8soDmWRlqcOCTt9M/edit?uiv=1#responses

I'll leave it open and summarize later if needed.

[2016-06-16 02:42] MHerszak commented on #43
@MarkBennett I can't access the results.

[2016-06-16 03:03] MHerszak commented on #28
One question. StartUp has nothing we can borrow?

[2016-06-16 03:29] MarkBennett commented on #43
@MHerszak can you access the spreadsheet?

https://docs.google.com/spreadsheets/d/12FXq9c0mWGWQ-9Jnups1LCU6JBtfNqcF69_PlQqVblA/edit?usp=sharing

[2016-06-16 03:46] MarkBennett commented on #28
They have a hand held microphone that we could try, but I've found a lot of speakers don't like using it. Perhaps that will be different if we're recording. They're not setup to do screencasting, but I've been wondering if we could split the costs with them or come up with some other arrangement once we know what we need.

[2016-06-16 03:52] MHerszak commented on #28
That is what I would suggest, too. Because who is going to take care of the equipment once we have it and why should it be locked away for a whole month if someone else could rent it. Having said this, who is going to be responsible in case it breaks or who will have the key and the overlook when someone is going to rent it?

[2016-06-16 03:55] MarkBennett commented on #28
Ideally, I'd like to have a place at StartupEdmonton where we could leave the equipment so we wouldn't need to rely on one member of the exec being there every month. Like you said, perhaps other meetups could use it as well if we can come up with a reasonable agreement with StartupEdmonton. I'd mostly be concerned about having access when we need it, and who would be responsible when it breaks.

[2016-06-16 04:07] MHerszak commented on #28
I can do that.

[2016-06-16 05:03] MarkBennett commented on #28
@mherzak Not sure I follow. Do what?

[2016-06-16 05:28] MarkBennett commented on #32
Need to check if this is fixed.

[2016-06-16 05:29] MarkBennett commented on #29
I took a look and we should be able to get @yegjs if we wanted that.

[2016-06-16 05:41] MarkBennett commented on #28
Are you talking about emailing Warren? If so I've already done that. I'll update here as soon as I hear back but it might take him a few days to get back.

[2016-06-16 13:19] seanhealy commented on #28
@MarkBennett You can also get some mics that have a ring that they use to suspend the actual mic from the stand. I wonder if that would help to reduce keyboard noise…?

[2016-06-16 13:25] seanhealy commented on #40
I've no issue with this. Think simplifying these would be nice.

[2016-06-16 13:28] seanhealy commented on #41
When we did polyglot one of our organizers down there actually hooked us up for some fantastic space that was actually free. I've never worked with the Shaw before but, my GF's brother actually works there on all their IT setup so I can inquire with him if you would like…

How many attendees were you thinking of?

Also, as a heads up I'm looking to get this years Polyglot setup to happen this fall

[2016-06-16 14:18] MarkBennett commented on #28
@seanhealy do you have an example? Curious about price.

[2016-06-16 14:22] MarkBennett commented on #41
Interesting. I think we need to decide on our priorities for the next year. This could be a valuable addition to the community but could also take away manpower from things like getting sponsorships and trying to bring in higher profile speakers for the meetup. On the flip side, a good conference would do a lot to increase the credibility of the Edmonton JavaScript community. Do we know what the i

[2016-06-16 14:27] seanhealy commented on #41
Another option would be do just to get a stronger JS presence at Polyglot… Donno… :)

[2016-06-16 14:27] seanhealy commented on #41
I do see your point about spreading ourselves too thin…

[2016-06-16 14:28] MarkBennett commented on #41
I don't want to sound to negative on this idea. It's something we've talked about for a while, and would be exciting to see in Edmonton. I just want to make sure it's the right thing to do right now, and that we're able to do it right as it will be a big financial and time investment.

[2016-06-16 14:29] MarkBennett commented on #41
@seanhealy that's an interesting idea. How would you describe Polyglot?

[2016-06-16 14:34] seanhealy commented on #41
If you've ever been to a bar camp it's similar to that but tech focused instead of biz focused.

This is our site from last year. Being an un-conference the organizational overhead was pretty low.

http://ab.polyglotconf.com

[2016-06-16 14:55] MHerszak commented on #41
@seanhealy all the sessions are open until the event? Are there any videos about it? My goal with the conf would be to attract companies and to solely talk about JS, best practice, lessons learned, etc.. I just looked at the Vancouver sessions and only one out of 20 was about JS. I get why this would be nice but it wouldn't fit into the scope of a JS meetup, or would it?

![cjkbiwbvaaa_x7v](https:

[2016-06-16 15:01] MHerszak commented on #41
I would like to invite speakers to talk about JS related topics for this conf and I have the time and the drive to do it. A conference would be nice due to the environment (Edmonton) we live in. There are only a hand full that work with production ready code. I would like to educate others to work with JS. What I feel like is that it will be hard to receive "high quality"/"top notch" content. Henc

[2016-06-16 15:05] MHerszak commented on #28
@MarkBennett I am at StartUp a lot and I can just talk to him. A quick talk is a bit more effective than email. Let me know if you hear back. If not I can talk to him.

[2016-06-16 15:11] MarkBennett commented on #41
We need to start at the beginning here and decide if this is something the meetup wants to take on right now. I'm honestly skeptical that there's enough demand right now to make a conference feasible, given there are other less risky ways to bring companies and knowledge to Edmonton. Lets focus on better understanding what we'd hope to do at this conference, and what the costs would be, then raise

[2016-06-16 15:22] MarkBennett commented on #41
Let's table further discussion on this until we've got our priorities for next year sorted out. There are other ideas for worthwhile projects which could achieve similar goals. I've created issue #43 for this discussion.

For example, I'd like to start flying a speaker in once a quarter to talk about things like React or Angular best practices. This would be a lower risk way to get serious speaker

[2016-06-16 15:33] MHerszak commented on #41
I like the idea of flying in a high profile!

Question: what benefit has Calgary to team up with us in YEG? What benefit would they see to split cost? And why would we need to split cost? If we split cost for a high profile than the questions of where this would take place would remain and I don't want to drive to Calgary for 1.5h. This sounds very negative, I know. I just want to understand the r

[2016-06-16 15:34] MarkBennett commented on #43
From the ideas I see in member survey, I think it's clear that, "Our mission is to connect, inspire and educate the Edmonton JavaScript community."

In order to do this, I propose three objectives for the next year:

1) create a venue to showcase community members, jobs, organizations, events and projects in Edmonton
2) directly engage the Edmonton JavaScript community with leaders from projects s

[2016-06-16 15:36] MHerszak commented on #43
I love those three points! From what I see, number 1 to 2 are within our "power". Number three will increase over time I hope. Maybe we should only focus on items we have an influence on?

[2016-06-16 15:40] MarkBennett commented on #43
@mherzak I have plans for number three! 😉

I've been looking at what other meetups do, and some things we could do differently to raise quality are:
- plan out an anchor talk for each meetup at the start of the year
- enforce specific time limits for talks and for questions
- help (or require) talks to be practiced in advance
- record all talks for reference
- really promote hard recordings of our

[2016-06-16 15:43] MarkBennett commented on #41
I'm thinking we'd be splitting for a conference. Perhaps make it more of JS West or something, with rotating locations in Edmonton, Calgary, Vancouver? That would encourage all of us to promote each other which can't be bad, spread out the risk, and give us a much bigger potential budget.

[2016-06-16 15:45] MarkBennett commented on #40
Alright. I'll go ahead and erase the old repos.

[2016-06-16 15:46] seanhealy commented on #41
Also don't want to be a downer but I I'd agree with @MarkBennett here. Think I'd prefer to focus on how we can make Exchange that much more amazing that spreading ourselves too thin. :)

[2016-06-16 15:47] MarkBennett opened #44 "Propose a budget"
We need to work out a budget for the next year so we know how much money we need to raise to achieve our objectives for the year.

[2016-06-16 17:56] MHerszak commented on #41
JS West SOUNDS GREAT! But what are the benefits for Calgary and Vancouver? They already have a good community and it is actually us who need their help. Not the other way around. What is it that we could offer? I did all those talks at the UofA when I tried to get a couple professors together for a project. You need this one defining thing that most of us want. It would be so great to be promoted

[2016-06-16 17:59] MHerszak commented on #44
The basics are food for the meetups, correct? Everything else would be ontop, correct? How much did you spend for food?

[2016-06-16 18:02] MHerszak commented on #43
Those are good points. I need to work on my talking skills and would need some help with it. I am pro require practice in advance. Those talks can be recorded and analysed. I could do that since I am so close to StartUp, or the UofA.. or any location in downtown

[2016-06-16 18:51] CAYdenberg commented on #43
@MarkBennett - I like those as objectives/core values. What do you mean by an anchor talk?

How do we feel about the beginner talks? Seems like they are important for the objectives as defined, but may be too basic for the most of the audience (who mainly identify as intermediate or higher).

@MHerszak I'd be happy to help anyone with their speaking (as long we can find a time/place to meet). I ha

[2016-06-16 21:30] MarkBennett commented on #43
@CAYdenberg one idea I was playing with was starting the meetup with a beginner talk or workshop, then moving on to the food and more advanced talks later. This way more advanced users could easily skip the stuff they were already familiar with. I definitely agree this is important, and based on the survey it looks like a lot of the membership agrees. We may want to follow up with the members to s

[2016-06-16 21:32] MarkBennett commented on #44
I'd like to work out some costs for new things we'd like to do, like bringing in speakers, perhaps setting up a hosted app instead of a static website, a budget for A/V, etc.

[2016-06-16 22:38] MHerszak commented on #43
@MarkBennett a "simple" way of improving quality would be to give a general outline/guideline. Don't know if that would be to restricting?

Same when you write a paper.. first thing is to get an outline than details and results. Just a thought.

[2016-06-16 22:39] MHerszak commented on #43
Same when you write a paper.. first thing is to get an outline than details and results. Just a thought.

[2016-06-16 22:47] MarkBennett commented on #43
It's a good idea @mhersazk. We should definitely start encouraging (requiring?) speakers to do that.

[2016-06-16 22:50] MarkBennett commented on #43
Does anyone else have feedback on the mission and objectives?

My only feeling is that each could tie more directly back to our mission of connecting, inspiring, and educating. Can we rework them a little to more directly connect to those?

[2016-06-16 22:57] MarkBennett commented on #43
Perhaps something like this..

1) connect and inspire the community by showcasing community members, jobs, organizations, events and projects in Edmonton
2) educate and inspire the community by engaging the Edmonton JavaScript community with leaders from projects shaping the way we work now and tomorrow
3) better educate by increasing the quality and accessibility of our talks

Thoughts? They stil

[2016-06-16 23:00] MarkBennett commented on #43
@caydenberg forgot to answer your question about anchor talk. It would be one main talk planned for each meetup throughout the year. This would help us ensure reliable speakers who've had a chance to rehearse and prepare, hopefully raising the bar for everyone who presents.

[2016-06-17 03:39] MHerszak commented on #43
I am personally a one value one vision person. Your first bullet it on the dote and basically what I would want to see, too. The second bullet should come through bullet one. Connect and learn about best practice and/or lessons learned. I believe inspiration and education go hand in hand. I was never good in subjects that did not inspire me. Just my opinion :) Long story LONG, I would go with conn

[2016-06-17 03:48] MHerszak commented on #44
My two cents, start with the lower hanging fruit. I don't see anything wrong with a static website. The last update was February 5, 2015 and from what I notice most people don't even look at it. That is just time that should go into talking to speakers and figuring out how much they are. Before we do that we should get a catering and tech budget going. Am I missing something here? What was the foo

[2016-06-17 14:04] MarkBennett commented on #44
@MHerszak no big issues here. We just need to work out what we're doing then come up with the costing so we can go to sponsors asking for the right amount. Let's focus on #43 then this should follow pretty quickly from that.

[2016-06-17 14:17] MarkBennett commented on #43
You're totally right and inspiration being so important. It's also hard to figure out what will really inspire people as it's such a personal motivator too. For the purposes of planning the next year, perhaps the points need to be more specific so that it's clearer what each is trying to achieve? Reading them again, none of them are very measureable so gauging our success would be hard.  Let me ta

[2016-06-17 14:23] MHerszak commented on #43
This is good! Regarding number 2, how about we assign each exec for a specific topic/project? Or what do you mean with leader?

[2016-06-17 14:56] abramhindle commented on #44
Since the website doesn't get updated maybe what we need to do is identify recurring tasks. Mark likes to organize and make slides and all that but surely there's one of the board who want to take the web-chair job. Maybe we need to figure out what tasks we do have.

[2016-06-17 14:58] abramhindle commented on #43
I guess I should've discussed this here, but I think we have to figure out what we do. Off the top of my head:
- Website update
- Slides for the meetup
- Updating meeting description
- Sponsors
- Food
- MC
- ...

[2016-06-17 15:34] MarkBennett commented on #44
Agreed @abramhindle. We need to decide on what our website is for, then how and who will maintain it.

[2016-06-17 15:44] MarkBennett commented on #42
I just found out I can link a new room to this repo so typing an issue number links direectly to issues.

https://gitter.im/ExchangeJS/exchangejs.github.io

Deleted the old room.

[2016-06-17 19:53] MHerszak commented on #44
@MarkBennett why don't we fully utilize the meetup page and a Facebook page? I have a feeling this would get more attention and is easier to share and update. Any thoughts? Having said this, I know we like to get our hands dirty .. but it is a meetup and this requires a different focus. We did all our discussions and posts in Munich through the MeetUp page and it worked perfectly. Just a thought

[2016-06-18 00:34] MarkBennett commented on #44
We made the decision not to post events on Facebook or Google+ last year and make Meetup the sole source for events. It has worked out really well and I'd like to keep events on Meetup and direct users there from other pages like Facebook, Twitter, etc. I definitely agree with dropping the events listing from the website. In fact there's an issue somewhere to populate that event list from the Meet

[2016-06-18 00:35] MarkBennett commented on #44
I've also talked the Calgary meetup and they might be interested in assisting with setting up a job board or showcase that could be used by both meetups. Would need to follow up. Not sure if we'd share hosting or just source code.

[2016-06-18 00:43] MarkBennett commented on #44
Why don't we table further discussion on the issue until we address #43 and can all agree on our objectives for the year? It seems like it will be much more productive once that's sorted out?

[2016-06-18 00:44] MarkBennett opened #46 "Update the list of organisers on the website"

[2016-06-18 14:49] MarkBennett commented on #28
Sounds good @MHerszak. I haven't heard anything from Warren yet. Lets give him a few more days and if we haven't heard from him by Monday, maybe you can approach him next week. It would be great if we could convince StartupEdmonton to setup and maintain what we need to screencast as I'm sure there are lots of other meetups and events that would use it. ;)

[2016-06-18 14:56] MarkBennett commented on #43
@abramhindle, are those tasks for each meetup or for the website? I'd like to keep the objectives fairly high level, then we can spin off each into an issue and break them down into the level of detail you're suggesting. Perhaps I can retool the first one to better capture that we want to improve how we use the website?

1) **connect** and **inspire** by increasing the number of visitors to a comm

[2016-06-18 15:16] CAYdenberg commented on #43
I agree in principle that those are good objectives. Ready to discuss
actionable items in each category.

On Sat, Jun 18, 2016 at 8:56 AM, Mark notifications@github.com wrote:

[2016-06-18 15:37] CAYdenberg commented on #41
I agree with @MarkBennett and @MHerszak that a conference is too much to take on right now. Let's focusing on upping the engagement with our current product (Meetup + website) and if the enthusiasm is there we could decide this later on.

Here's a crazy idea: we vote on our very best talk for the whole year, and send that person to give the their same talk at Calgary's JavaScript meetup. The Calga

[2016-06-18 15:40] MarkBennett commented on #43
That's great @caydenberg. Is everyone else ready to agree on these and move on?

[2016-06-18 15:49] MarkBennett commented on #42
If no one objects to this, I'm going to finish setting this up, merge #45 and close this.

[2016-06-18 16:04] MarkBennett commented on #42
I added a link to Gitter on the homepage #47

[2016-06-18 16:04] #42 closed

[2016-06-18 16:10] CAYdenberg commented on #46
Who is @PawkaHub IRL? His profile pic is not quite ringing the bell.

[2016-06-18 19:38] MarkBennett commented on #46
I'll see if I have his name in my notes @caseydenberg, but maybe @pawkahub can supply if he sees the notification?

[2016-06-18 19:38] MarkBennett commented on #46
Thanks for taking this BTW! 😉

[2016-06-20 20:42] MarkBennett commented on #46
I just talked to him via email and can confirm that Pieter Parker is @PawkaHub.

[2016-06-20 21:06] MarkBennett commented on #43
@ExchangeJS/organizers anyone object to these or can I record them and close this issue?

[2016-06-20 21:30] MarkBennett commented on #40
Done.

[2016-06-20 21:30] #40 closed

[2016-06-20 21:32] MarkBennett commented on #28
I haven't heard back from Warren at StartupEdmonton. If you see him around, can you ask him for his thoughts on this @MHerszak? I was also thinking it would make sense for us to reach out directly to some of the other meetups to get a sense of who else might be interested. The Python and Go meetups come to mind, perhaps the Ruby one (though I hear it's not as active as in the past?)

[2016-06-20 22:31] MHerszak commented on #28
Let's talk to Warren first. I can go there tomorrow.

[2016-06-21 00:31] MarkBennett commented on #40
Archive of old repos https://storage.googleapis.com/sandbox-180/exchangejs.tgz

[2016-06-21 01:55] #46 closed

[2016-06-21 03:04] MarkBennett commented on #28
Sounds good. Thanks @mherszak!

[2016-06-21 03:22] MarkBennett commented on #46
Looks good to me. Thanks! :)

[2016-06-21 18:51] MarkBennett commented on #28
Thanks for stopping by @mherszak. That seems to have gotten a reply, though not the one we may have wanted. Looks like we're on our own for costs, but perhaps we can convince them on a safe place to store?

His reply follows:

[2016-06-21 19:40] MHerszak commented on #28
It is something. I don't mind renting if what Startup has isn't enough otherwise we need a dedicated equipment person. That person needs to make sure the purchased electronics are at every meeting. Having said this, if we decide to rent someone has to pick it up and bring it back, too. I am not sure about the better solution. @MarkBennett have you tested their mixer/panel and their mic? I haven't

[2016-06-21 19:50] MarkBennett commented on #28
@MHerszak I don't have one no, but the Calgary meetup has used it along with Google Hangouts with a lot of success. The reviews on Amazon are also good, so I'm confident it could do what we need.

I spoke with Warren again and Startup Edmonton is willing to give us a private locker, so we'll have a place to store whatever equipment we get. I'm just checking to see if it will need a key, or if we c

[2016-06-21 21:58] MHerszak commented on #28
Hangout is good! This way we can also invite other speakers without them having to travel. And that could be FeatherJS :)

[2016-06-21 23:10] MarkBennett commented on #28
I setup a channel for us on Youtube:

https://www.youtube.com/channel/UCBC21Bfijpx4CCpjnBUdypg

still trying to figure out how to get a better url. Apparently, it's linked to a G+ page which I can invite other users to. This will supposedly allow any of us to post to this channel, though I haven't tested that.

[2016-06-22 14:49] MarkBennett commented on #43
I'll leave this open until the end of the week, then finalize these and close this off unless anyone objects. Thanks!

[2016-06-22 20:45] MarkBennett commented on #20
I setup a slidedeck that we can give to sponsors. Right now anyone can use this link to edit, so go crazy. If you can sign in with a Google account so we can track who's doing what that would be great.

https://docs.google.com/presentation/d/12_2aRmpxVoZZcnujocWaQICOYgk_t9a0AXaAnf64OSw/edit?usp=sharing

[2016-06-24 22:35] MarkBennett commented on #43
Just a reminder that I'll be closing this end of day.

[2016-06-25 22:56] MarkBennett opened #49 "Connect and inspire by increasing the number of visitors to a community showcase on the website"

[2016-06-25 22:57] MarkBennett opened #50 "Educate and inspire by engaging the meetup with at least one community leader from projects shaping the way we work now and tomorrow every 3 months"
**educate** and **inspire** by engaging the meetup with at least one community leader from projects shaping the way we work now and tomorrow every 3 months (i.e. React core team member, Angular team member, npm maintainer, etc.)

[2016-06-25 22:58] MarkBennett opened #51 "Better educate by increasing the quality and audience of our talks"
The possible ways we've come up with to achieve this objective include:
- [ ] provide a short speaker guide
- [ ] provide talk templates (reveal.js w/ Markdown, Google Slides)
- [ ] share a talk schedule with at least two talks for the length of the year
- [ ] provide 10 minutes of newbie content at each meetup
- [ ] record and share talks (#28)
- [ ] enforce time limits for all talks
- [ ] provid

[2016-06-25 23:01] MarkBennett commented on #43
To summarize, _"Our mission is to connect, inspire and educate the Edmonton JavaScript community."_

I've created an issue for each objective.

#49 **connect** and **inspire** by increasing the number of visitors to a community showcase on the website

#50 **educate** and **inspire** by engaging the meetup with at least one community leader from projects shaping the way we work now and tomorrow ev

[2016-06-25 23:01] #43 closed

[2016-06-26 02:07] CAYdenberg commented on #49
Similar things which exist:
- [Make Something Edmonton](https://www.makesomethingedmonton.ca/projects/)
- [Open Data Edmonton Apps](http://www.edmonton.ca/programs_services/apps_mobile/app-ets-live-to-go.aspx)

At the minimum we'd need to store a title, short description, and link to demo and GitHub repo for each project. This probably requires either a simple CMS (if people submit projects by ema

[2016-06-26 02:30] CAYdenberg commented on #51
I think we should prepare a short "Guide for Speakers" that addresses things like:
1. suggested length (# min and # of slides)
2. characteristics of the audience (gathered from our survey)
3. general notes on slide design (descriptive titles, keep code samples minimal)
4. general notes on speaking (encourage practising beforehand)

In addition, I think it would be worth segmenting the different ki

[2016-06-26 02:33] CAYdenberg commented on #50
Am I right in thinking we can't do this until we have a budget? Should we mark as blocked?

[2016-06-26 15:29] MarkBennett commented on #50
I'm thinking we start by brainstorming what this means and coming up with some options. It could be everything from engaging with some projects via Github issues and PRs, to getting speakers in with hangouts, to flying them in. I'd also like to reach out to the membership to get some ideas for who they'd benefit from pursuing and start going after them now.

Some of these will require funds to acc

[2016-06-26 20:33] MarkBennett commented on #49
That's exactly the kind of thing I'd like to see too @CAYdenberg. The biggest challenge I see is finding a way to maintain the content as time goes by. This suggests to me that we want to accept contributions from as many people as possible to make this easier. The projects, companies and jobs won't change too quickly, but there will be new talks and recordings of them added multiple times a month

[2016-06-26 20:49] MarkBennett commented on #51
Those ideas are perfect @CAYdenberg, and I really like your suggestion of categorizing the talks so we're not dominated by or missing any particular area.

I was also thinking we might want to include some template slide decks that less experienced speakers can use to get their talks rolling.

Some other ideas I had were being more assertive in-terms of agreeing and sharing speaker time limits in

[2016-06-26 21:16] MarkBennett opened #52 "Poll members for speakers"
We're trying to reach out to the broader JavaScript community and connect Edmonton with developers and designers who are shaping the way we work with JavaScript now and in the future.

With this in mind, we need to poll members to see who they'd like us to try to connect with.

This could be tool makers, developers, inspirational figures, academics, entrepreneurs, etc.

[2016-06-26 21:17] MarkBennett commented on #51
I just created issue #52 so that we remember to ask members who they'd like to see at the meetup.

[2016-06-26 21:17] MarkBennett commented on #50
I just created issue #52 so that we remember to ask members who they'd like to see at the meetup.

[2016-06-26 21:17] MarkBennett commented on #49
I just created issue #52 so that we remember to ask members who they'd like to see at the meetup. We may want to do something quick and direct now, then feed our learnings from that back into the website.

[2016-06-26 23:56] MarkBennett commented on #52
I started a quick Google Form to gather ideas from the members. I'll finish it up and send it out in a few days. Most of you should have access to edit, but if you don't just send me your Gmail and I'll add you to the share.

https://docs.google.com/forms/d/1KIu1Hx4AixkoedAPq71WXxVE8cZWrgDWASrF33i1TEw/edit?usp=drive_web

[2016-06-27 01:07] snostorm commented on #41
It would be cool to do it in a year or two once we get the base grown. For a few years I was helping organizing the annual Logicon conference (a science focussed event, 1-2 days of speakers but mostly local experts) and it takes a ton of work to line everything up!

[2016-06-27 01:11] snostorm commented on #43
Better late than never, but 👍

[2016-06-27 01:14] snostorm commented on #49
Perhaps it would be helpful to do a few hack-athon evenings or weekends in the coming few "off" months to work though choosing a tech stack, laying out a plan (MVP features and the followup steps we can take), building, etc.

A lot of planning can happen online but it sometimes it helps to kick some of these types of projects off by getting 2-4 people in a room for a few hours.

Thoughts on this a

[2016-06-27 01:22] snostorm commented on #50
I like the thought of engaging the wider community and agree it can happen in some budget thrifty ways at first. But it would be good to network with other meet ups and regional conferences because if somebody is already in Western Canada, it becomes much less costly to bring them up for an evening.

[2016-06-27 14:09] MarkBennett commented on #50
That's a great idea @snostorm. I've spoken with the Calgary meetup a fair bit and could probably get them on board with this. Does anyone know anyone from the Vancouver meetup?

[2016-06-27 14:12] MarkBennett commented on #49
That sounds good to me. We've got our normal meetup nights coming up, perhaps we could repurpose those for some hacking. Is anyone available?

[2016-06-27 14:14] MarkBennett commented on #41
Agreed. This is a really exciting idea and not one we should lose sight of. Spending the next few years building the size of our audience and building relationships with potential speakers makes sense. We could.also take the time to run a few smaller events to get some practice dealing with things like ticketing and venue rentals.

[2016-06-27 14:36] MHerszak commented on #49
@MarkBennett you want to use a Thursday night for a hackathon?

[2016-06-27 14:57] abramhindle commented on #50
Google Hangout meetings are always possible. Toronto Perl Mongers holds google hangout meetings and I've been attending some of them for the past 5-6 years. Yes people still care about Perl :) It's a zero budget proposition. You can face the webcam to the audience and the MC can rely questions that aren't heard well.

[2016-06-27 15:00] abramhindle commented on #51
Does this idea also include the 10 minutes of content for new javascript programmers? The Newbie 10?

Providing an Markdown based Reveal JS slide deck template might help new speakers. Ben had a slide deck I found really useful.

[2016-06-27 19:19] snostorm commented on #30
Been looking in to this again. No hosting setup at this time. We're exploring options. One option is to alias somebody else who has a Google App account right now. Alternative is to find a free hosted domain email provider.

Edit: MX points at Google, but no actual account setup

[2016-06-27 19:24] snostorm commented on #49
I probably could with a bit more notice? Might be tied up this Thursday. But we could always break it out to a few sessions. (Might be nice to give a little notice and spam it out to a larger audience.)

The Jobber office could probably host a small group, unless we want to pick a pub or something.

[2016-06-27 20:17] MarkBennett commented on #50
It definely looks like that's the way we're heading @abramhindle, especially given the low cost to start. There's more discussion of using Hangouts and what we need setup for September in issue #28.

[2016-06-27 20:19] MarkBennett commented on #51
That would definitely be in scope for this @abramhindle. I'm going to make a list of possible actions for this up in the description so that we don't need to scroll back through all the comments.

[2016-06-27 20:25] MarkBennett commented on #51
I've added the possible actions to the issue description. Please feel free to add any others you can think of then we'll whittle the list down.

[2016-06-27 20:26] MarkBennett commented on #30
Thanks for looking into this @snostorm. If we can even set this up somewhere temporarily and just use it to verify our email with Twitter, then that should be enough to start claiming the account.

[2016-06-27 20:28] MarkBennett commented on #49
Would anyone be free the evening on June 7th to hack on this? If the Jobber offices have wifi we can all use that would work great for me.

/cc @ExchangeJS/organizers

[2016-06-28 02:26] CAYdenberg commented on #49
Next Thursday (July 7th) would be better for me but I could do this Thursday too.

For tech my vote would be for Keystone, the major advantage being that it's full-stack JavaScript. You can define a "post type" as a souped-up Mongoose models and get an interface on the admin side for free. If you've ever worked with Django's admin it's very similar (but looks better).

I don't mind doing maintenan

[2016-06-28 03:13] MarkBennett commented on #49
I vote for next Thursday too as it's easier for me. Need to confirm my babysitter but I'll be there if I can.

Also just checked out Keystone. I need to look at it a little more closely, but it looks great!

[2016-06-29 21:32] MarkBennett commented on #52
Poll is ready to go. I'll start tweeting it out.

[2016-06-30 03:49] MarkBennett commented on #44
Now that we have our objectives, I made a first pass at a budget. This will give us a sense of how much money we need to raise if we want to accomplish everything we need to throughout the year.

https://docs.google.com/spreadsheets/d/1TKd0UKCkeA9UUMVWNMDEES9yJocH1V4uMhSbkqed9Fo/edit?usp=sharing

You should all have access to edit it, as it's in the shared Google Drive folder but if you don't plea

[2016-06-30 03:52] MarkBennett opened #53 "Add all new organizers to the Google Drive share"
We've got a shared folder on Google Drive that we use to organize notes and share files. I know some of you have access but others don't.

https://drive.google.com/open?id=0B1angknldByTbjJIS3c4RDZfT2c

If you can send me your Google address via email, twitter, gitter, etc. I'll make sure that you get access.

/cc @ExchangeJS/organizers

[2016-06-30 03:53] MarkBennett commented on #53
Sorry, wrong link in the description. Here's the correct one..

https://drive.google.com/open?id=0B1angknldByTbjJIS3c4RDZfT2c

[2016-06-30 04:00] MarkBennett commented on #44
In case you're curious what I'm proposing for the swag line..

https://www.stickermule.com/products/die-cut-stickers

[2016-06-30 04:14] MarkBennett commented on #51
Based off of your suggested topics @CAYdenberg, I put together a draft talk schedule we can fill in for the year.

https://docs.google.com/spreadsheets/d/1_FOG1K_fUbTlNvqT9hjihiXYt9AhPkZxW6tfZN858VU/edit?usp=sharing

[2016-06-30 04:17] MarkBennett commented on #51
The only other idea we've talked about that I haven't seen captured in this thread is having a specific beginner talk time, perhaps before the formal part of the meetup. I've heard the Ruby meetup had luck with setting aside an hour before the meetup started with more hands on time where experienced devs could assist younger devs. When I was running the Ruby meetup we also tried to have regular ha

[2016-06-30 04:20] MarkBennett commented on #36
@ExchangeJS/organizers can you all take a few minutes to send a link to this survey out to anyone you know that would be interested in sponsoring the meetup next year? I'm working on the sponsorship pitch and budget right now and getting a few more answers to this would be awesome!

Here's the link so you've got it handy!

http://goo.gl/forms/NOxdiwOHHn7dv5uM2

[2016-06-30 04:46] MHerszak commented on #36
We could have a list and we name one person to do this. I fear we'll be sending emails to the same sponsors and spam them. Just a thought.

[2016-06-30 14:42] MarkBennett commented on #36
Good point @mherszak. If people post names and emails in this thread I can send emails to anyone that hasn't already been contacted.

[2016-07-03 16:52] CAYdenberg commented on #49
Are we getting together to hack this Thursday, and if so can we agree on a time/place?

[2016-07-03 22:10] MarkBennett commented on #49
Yes. I'm just waiting to confirm that we can use the Jobber offices, then I'll announce on meetup.com. If we can't secure a space we can always work from home and connect via [Gitter](https://gitter.im/ExchangeJS/exchangejs.github.io).

[2016-07-03 22:10] MarkBennett commented on #49
@snostorm can you confirm if we're able to use the Jobber offices Thursday night at 6:30?

[2016-07-04 00:18] MarkBennett commented on #49
I just created the event,

I’m attending a Meetup with Startup Edmonton http://meetu.ps/e/BMvzv/FmTz/d

Space is limited, but I can make sure you get in if you RSVP. It is 95% certain it's at the Jobber offices on Jasper Ave, but I'll confirm tomorrow.

[2016-07-10 21:39] cwant commented on #16
Continuing the discussion from the issue in the other repo [1], here is an expanded demo with some fault tolerance built in:

https://jsfiddle.net/cwant/x6xsbuz0/15/

(Still not production-ready, but closer.)

Chris

[1] https://github.com/ExchangeJS/exchangejs.com/issues/3

[2016-07-12 21:49] MarkBennett commented on #28
Today was a big sale on amazon.ca I got a sweet Logitech HD webcam with tripod for 40% off and 60% off a boom microphone with screen that we can attach to the position. I'm hoping this will significantly increase the quality of our recordings. Thanks to @seanhealy for the heads up.

[2016-07-13 21:22] MarkBennett opened #54 "Bring in a speaker from the React team"
Identify the best candidates from the react team to join us for a talk, then go after them until we get someone.

[2016-07-13 21:53] MarkBennett opened #55 "Find someone to speak about Angular 2"

[2016-07-13 21:54] MarkBennett opened #56 "Bring in a member of the Ember.js team"

[2016-07-13 21:55] MarkBennett commented on #30
Want to take a look into this with me at the next hackup? Would be nice to get this sorted out.

[2016-07-13 22:00] MarkBennett commented on #36
We've gotten a few responses, which is realistic given the number of potential sponsors in Edmonton. I think we've got enough of a background to move forward with approaching people.

I'm going to close this issue and end new responses to the survey.

[2016-07-13 22:02] #36 closed

[2016-07-14 03:33] MHerszak commented on #36
Who did you end up asking?

[2016-07-14 05:10] MHerszak commented on #54
- Paul O’Shannessy - zpao
- Ben Alpert - spicyj
- Pete Hunt - petehunt

Those are the ones at the top of React's Github contributors list.

[2016-07-14 16:03] MarkBennett commented on #36
I heard from Jobber and a few other people. I've got enough to put together the rest of the pitch. We need to start going after sponsors now if we want to have a budget in place for September.

[2016-07-14 16:04] MarkBennett commented on #54
Thanks @mherszak. I'll contact each of them via our Twitter.

[2016-07-14 20:19] MHerszak commented on #36
Do we have a number for a budget? It is easier to ask for money when you know what to ask for. I can help with the asking part. UPDATE @MarkBennett nvm.. I forgot about your list on Google Drive. I'll check that again. Btw, is there a way we could share our thoughts on the pitch slide deck?

[2016-07-14 20:30] MHerszak commented on #54
I'd love to speak to Pete Hunt because he's also very knowledgeable in terms of Meteor!

[2016-07-14 20:38] MarkBennett commented on #36
@MHerszak here's the proposed budget

[2016-07-14 20:41] MarkBennett commented on #20
@MHerszak here's the sponsorship package as it stands now. I still need to spend a few more hours to integrate the results of the sponsor survey and better articulate our mission. It's also _way_ to long right now so I'm going to cut down and focus the content.

You can leave suggestions and ideas here, or just leave comments right in the slidedeck too.

[2016-07-14 20:44] seanhealy commented on #36
@MarkBennett Did you miss an attachment or link? :)

[2016-07-14 20:46] MarkBennett commented on #36
Ha ha, yup. Wrong issue @MHerszak @seanhealy. The right one is #44.

[2016-07-14 20:47] MarkBennett commented on #44
If no one has any concerns with this, I think it's a reasonable budget to target in terms of sponsorship.

/cc @MHerszak @seanhealy @abramhindle

[2016-07-14 20:50] seanhealy commented on #44
A bit random… I was bouncing some sticker ideas off of Mark the other day…

![](http://d.pr/i/pGGz.png)

We might also be able to use Collage Copy for stickers. They are right downtown.

[2016-07-14 20:51] seanhealy commented on #44
@MarkBennett I think your food estimate is low. We've been spending more along the lines of ~$300 on food lately.

[2016-07-14 20:52] seanhealy commented on #44
Also, I'm a bit out of the loop but do we need paid web hosting? :)

[2016-07-14 20:55] MarkBennett commented on #44
Oh wow, I didn't realize that @seanhealy. That's a lot! That works out to $3000 a year for food. That's a lot of money we could be putting towards bringing in a speaker, prizes, etc. Any ideas on how we could bring that down closer to $150? We should still be able to get something decent in that price range.

I left the paid hosting in there as it's an option we're looking at. If we want to do thi

[2016-07-14 20:58] MarkBennett opened #57 "Give stickers away to attendees and contributors"

[2016-07-14 20:58] MarkBennett commented on #57
Ping @seanhealy

[2016-07-14 20:58] MarkBennett commented on #44
@seanhealy cool idea with the sticker BTW. I was also mentioning the idea of having multiple complementary stickers at the hackup and it seemed like people really liked that idea. Why don't we move the sticker design into another issue as it's not really material to the budget?

I just setup #57 for this.

[2016-07-14 21:01] seanhealy commented on #57
Thanks! :D

[2016-07-14 21:01] seanhealy commented on #57
Will get some ideas up here for us think about.

[2016-07-14 21:38] MHerszak commented on #20
I just looked at the slide deck. I would assume you could put all of it in max 5 slides. The most important parts are to actually show what the sponsor accomplished with his donation. It is just a side effect that we profit from this, too. What do you think?

[2016-07-14 21:53] MarkBennett commented on #20
It will definitely be less than what's there now. Hard to say an exact number for sure but that's in the range. This was from a template so there's a lot that's not needed.

The whole point is to convince people to donate, so I think we will need to explain what we'll do with the money so they can feel we'll be accountable for it but the main focus should be on getting the sponsors to send money o

[2016-07-14 21:55] MarkBennett commented on #57
I was talking to some people about these stickers and a few things stuck:

1) they'll probably go on laptops so they should be re-usable and legible from a distance
2) people really liked the idea of a set of stickers which might interlock or somehow complement each other. I have seen other projects use hexagons, it might make sense to piggyback off a common size for these.

[2016-07-14 23:19] MarkBennett commented on #28
![img_20160714_171722](https://cloud.githubusercontent.com/assets/61872/16858832/107fd342-49e7-11e6-9164-854a1b2c6557.jpg)

Camera and tripod arrived today. Boom microphone should be here tomorrow.

[2016-07-15 20:44] MarkBennett commented on #28
The microphone just arrived. Here's a test of the HD video and recording with the new microphone.

https://www.youtube.com/watch?v=XD5xTdUfNds

[2016-08-02 14:42] MarkBennett opened #58 "Exchange.js Mascot"
A lot of my favourite projects and communities have great mascots (Go, Linux, Android, etc.) Is anyone interested in designing a mascot we could use on the website, stickers, twitter, etc?

[2016-08-03 16:03] MarkBennett commented on #44
I'd like to lock down the budget this week. I've updated with details for the hackup and pulled back a bit on paying for speakers.

https://docs.google.com/spreadsheets/d/1TKd0UKCkeA9UUMVWNMDEES9yJocH1V4uMhSbkqed9Fo/edit?usp=sharing

Unless there's any other feedback I'll finalize it and have it ready to present to sponsors on Monday.

[2016-08-03 21:24] nathany commented on #58
How about a [cute little doggie](https://www.kickstarter.com/projects/kcgreen/this-is-fine-plush-dog). 🙃

[2016-08-03 22:01] MarkBennett commented on #58
Ha ha. That's awesome @nathany! Something just like that! :)

[2016-08-07 17:07] benzittlau commented on #44
Reviewed the budget and it seems reasonable to me.

[2016-08-07 21:55] MarkBennett commented on #44
Thanks @benzittlau. I'm going to close this off.

[2016-08-07 21:55] #44 closed

[2016-09-07 20:29] MarkBennett opened #59 "Recruit sponsors"
Over the next few months we need to recruit sponsors if we're hoping to make our budget for the year. Time to get started!
- [X] Create sponsorship package #20
- [x] [Make a list of potential sponsors](https://docs.google.com/spreadsheets/d/1Hnq_OadnQ4DqON1BUQ9syxV9LUqokkE_4f615jUES3o/edit?usp=sharing)
- [x] Contact sponsors
- [ ] Collect commitments from sponsors

[2016-09-07 20:32] MarkBennett commented on #20
Alright everyone, slidedeck is done and ready to go. You can download a copy [here](https://github.com/ExchangeJS/exchangejs.github.io/files/460272/Sponsorship.Package.2017.pdf) or [view the slides online](https://docs.google.com/presentation/d/12_2aRmpxVoZZcnujocWaQICOYgk_t9a0AXaAnf64OSw/edit?usp=sharing).

Up next we need to start making a list and contacting potential sponsors. See #59.

[2016-09-07 20:32] #20 closed

[2016-09-07 20:33] MarkBennett opened #60 "Add a callout to a sponsorship form on our homepage"
This form should allow sponsors to quickly request that someone from the meetup contact them to setup sponsorship. A mailto:mark.f.bennett@gmail.com would be enough, otherwise we can setup a Google Form.

[2016-09-08 14:18] MHerszak commented on #59
Hi Mark, did you start a list already somewhere?

[2016-09-08 14:32] MarkBennett commented on #59
Not yet. Was going to start one today. In the main time why don't we just post names and contact details here?

[2016-09-09 02:25] MarkBennett commented on #59
Here's the link to the list of potential sponsors:

https://docs.google.com/spreadsheets/d/1Hnq_OadnQ4DqON1BUQ9syxV9LUqokkE_4f615jUES3o/edit?usp=sharing

Please note this has confidential phone numbers and emails so please don't share publicly.

[2016-09-09 02:26] MarkBennett commented on #59
Hey @MHerszak, I linked to a spreadsheet to keep track of who has been contacted. Feel free to add to and edit.

[2016-09-09 02:35] MHerszak commented on #59
Hi, could you enter the contacts from last year, please? Those are the ones of the top of my head that deal with Javascript. I was thinking to maybe ask some recruiting for help? Those are the ones seeking talent. Just a thought.

[2016-09-09 03:08] MarkBennett commented on #59
Sure.

On Thu, Sep 8, 2016, 20:35 Michel Herszak notifications@github.com wrote:

[2016-09-15 04:41] MarkBennett commented on #41
I really like this idea, but for now I'm going to close it. Let's get the sponsorship and infrastructure in place a bit more, then revisit in the new year!

[2016-09-15 04:41] #41 closed

[2016-09-22 00:00] MarkBennett opened #61 "Create a package for presenters"
This is intended to improve the quality of our talks. It could include things like tips and a checklist for our presenters, as well as some resources like presentation templates and logos for the meetup.

This issue is created as part of #51.

[2016-09-22 00:02] MarkBennett commented on #61
@CAYdenberg @abramhindle any thoughts or ideas on this speaker package?

[2016-09-23 16:13] CAYdenberg commented on #61
Sure thing. I may be able to devote some time to this this weekend. I'll probably create a new repo to sketch out my ideas.

Do we have a guideline length for talks? Something like 20 min + 10 min of questions.

[2016-09-23 16:27] MarkBennett commented on #61
I'd say target 15 minutes talk, and 10 for questions but let speakers no
they can split the 25 minutes however they prefer. They should also know
that we're going to be timing them this year, that they're being recorded,
that they need to setup Google Hangouts in advance and have Wi-Fi. They
also need a bio, a headshot, and contact info. Finally they should be aware
that participating in Exchange.

[2016-10-03 12:36] MarkBennett opened #62 "October 2016 Meetup"
Arrange and present the meetup.
## To Do
- [x] Arrange MC (Mark)
- [x] Arrange food
- [x] Add sponsor thank you to preroll
- [x] Setup notes [edit](https://github.com/ExchangeJS/exchangejs.com/blob/master/public/events/oct-2016/index.html), [view](https://www.exchangejs.com/events/oct-2016/)
- [x] Add sponsor thank you to notes
- [x] Update speakers in notes
- [x] Update events in notes
- [x] Upda

[2016-10-03 12:36] MarkBennett commented on #62
@seanhealy are you able to assist with the food still? Can you have something in place for this Thursday?

[2016-10-03 13:09] MarkBennett commented on #62
I've created the notes:

https://github.com/ExchangeJS/exchangejs.com/blob/master/public/events/oct-2016/index.html

Contributions of events, jobs, or notes are welcome!

[2016-10-03 19:33] CAYdenberg commented on #62
Will it help if I get there early?
I can assist with food but it would help if I knew how we handled it in the past (payment, amount etc.)

[2016-10-03 20:57] MarkBennett commented on #62
@caydenberg it wouldn't hurt as I'm sure there will be lots going on as we get back into the groove. This is the first one I'm going to try to live stream with YouTube so I'm anticipating some hiccups there.

[2016-10-03 20:59] MarkBennett commented on #62
We're hoping to have food arranged in advance, and I should be there to pay in person so I think we're ok this time. I'll pay with my personal VISA then I can cut a cheque from the account I setup for Exchange.js once I get a receipt for the food.

[2016-10-06 02:17] MarkBennett commented on #62
Need to add this job posting to our notes:

http://stackoverflow.com/jobs/124547/full-stack-javascript-developer-muzooka

UPDATE: DONE

[2016-11-25 21:51] MarkBennett opened #63 "Dec 2016 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:51] MarkBennett opened #64 "Jan 2017 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:51] MarkBennett opened #65 "Feb 2017 Meetup"
## To Do
- [X] Arrange MC (Mark)
- [ ] Arrange food
- [ ] Review and tweak preroll slides ( [edit](https://github.com/ExchangeJS/exchangejs-preroll) / [view](http://exchangejs.github.io/exchangejs-preroll/) )
9 Add Clio thank you to preroll
- [X] Setup notes ([edit](https://docs.google.com/presentation/d/1n8V-9iKZ5mvPAwBt-L4l1ZVywAT_IzoxZwbfIoWl1p0/edit#slide=id.p) / [view](https://docs.google.com

[2016-11-25 21:52] MarkBennett opened #66 "March 2017 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:52] MarkBennett opened #67 "April 2017 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:52] MarkBennett opened #68 "May 2017 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:52] MarkBennett opened #69 "June 2017 Meetup"
## To Do
- [ ] Arrange MC
- [ ] Arrange food
- [ ] Review and tweak preroll slides
- [ ] Setup notes
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job listings
- [ ] Update introduction question
- [ ] Setup Youtube Live event [link]()
- [ ] Mail out 3 day before meetup reminder
- [ ] Tweet

[2016-11-25 21:52] #62 closed

[2016-11-25 21:53] MarkBennett commented on #28
We've been recording for a few months now and feedback has been good. Looking forward to upgrading talks once we can afford some more equipment but I'm satisfied this is done for now. We can make a new issue once we're ready to upgrade.

[2016-11-25 21:53] #28 closed

[2016-11-25 21:53] #24 closed

[2017-01-13 00:50] #63 closed

[2017-01-13 00:50] #64 closed

[2017-01-13 00:51] MarkBennett commented on #60
👍 @christiannaths

[2017-02-14 21:41] #65 closed

[2017-02-14 21:41] MarkBennett commented on #66
Share the first Android device meetup..

https://www.meetup.com/startupedmonton/events/237666271/

[2017-03-19 18:42] CAYdenberg opened #70 "Talks page"
## To Do

- [x] Add link to YouTube page ("See all talks at our YouTube channel")
- [ ] Add pagination
- [x] Add link on homepage to Talks page

[2017-03-19 18:42] CAYdenberg opened #71 "Fix webpack dev server"

[2017-03-19 18:47] CAYdenberg opened #72 "Organize "members" on the website"
- merge Users and Members data models without giving access to Keystone by default
- use GitHub (via API) as the definitive source of contact information - don't re-enter all details (ie Twitter handle) here

[2017-03-20 19:12] MarkBennett commented on #72
Is this possible to do? This would be great!

[2017-03-20 19:14] MarkBennett commented on #70
What do you think about adding a link to a screenshot instead of the green video icon? I'm generating a custom screenshot already, so adding them here wouldn't be difficult.

[2017-04-05 03:09] CAYdenberg commented on #70
Yeah, that'd be better than a page of just text I would say.

[2017-04-08 16:43] MarkBennett opened #73 "Add YouTube Video Thumbnails"
I just found out that you can get YouTube thumbnails from a common url:

    https://img.youtube.com/vi/<insert-youtube-video-id-here>/hqdefault.jpg

Details at:

    http://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api

/cc @CAYdenberg

[2017-04-08 16:45] MarkBennett commented on #73
Here's an example of the thumbnal from this months meetup notes:

![April 2017 Notes Thumbnail](https://img.youtube.com/vi/xpt4njKfXCI/hqdefault.jpg)

[2017-04-16 19:15] CAYdenberg commented on #73
Remind me about pagination next month as images range up to ~150kb

[2017-04-16 19:15] #73 closed

[2017-05-08 16:31] abramhindle opened #74 "Announcement: Edmonton.py seeks JS talks"
Announcement: Edmonton.py seeks JS talks

Edmonton.py http://edmontonpy.com is seeking speakers who want to talk about JS that is python compatible. That is anything regarding front-end JS dev that could be integrated into Django or Flask apps, or any python/js hybrids.

Please contact Edmonton.py organizers at mailto:info@EdmontonPy.com or on Twitter https://twitter.com/edmontonpy

If this could

[2017-05-08 16:39] ashiazed commented on #74
The idea is to do some cross talks, we could offer a talk of Python API design (Django/Flask) to the ExchangeJS community.

[2017-05-09 03:25] MarkBennett commented on #74
This sounds like a great idea @abramhindle @laidibug. Any sense of timeframe? Are they aiming for September?

[2017-05-09 03:26] #66 closed

[2017-05-09 03:26] #67 closed

[2017-05-09 03:26] #68 closed

[2017-05-11 20:44] MarkBennett opened #75 "Incorporate a not-for-profit society to fundraise"
So that we can collect donations more easily I'm proposing that we form a not-for-profit society.

Ideally, this society should have as low an upkeep as possible and require similar commitments from our members as we did before incorporating.

This means:

1) allow for board activities (meetings, votes, directives, etc.) to take place asynchronously and online via a secure medium (Github, Google D

[2017-05-12 14:32] benzittlau commented on #75
Hey Mark, I'm happy to step in here if you need the spot, but also happy to let someone else take it if they're interested/passionate about being involved.  Let me know!

[2017-05-12 16:44] abramhindle commented on #75
http://www.servicealberta.ca/716.cfm While Mark has read this anyone else interested should read it as well. The nice thing about exchangejs is regular meetings meaning that we can plunk an AGM at the start or end of any of our meetings and get quorum with no problem.

I don't know if we can avoid AGM rules.

Sample Bylaws http://www.servicealberta.ca/pdf/Forms/Society_Bylaws_re-entered_(2).pdf

*

[2017-05-12 18:55] MHerszak commented on #75
@abramhindle just a thought on your last paragraph. By "filing of financials" you mean fundraising?

[2017-05-12 19:10] CAYdenberg commented on #74
What topics and "level" are you looking for @laidibug? Most web devs know at least some JS and might be looking to level up to "modern" javascript, but the Python meetup is probably not all web folks.

[2017-05-12 19:15] abramhindle commented on #75
Filing of financials is an annual annoyance whereby you report to the govt what your society's bank account looks like, what came in and what came out. It is somewhat detailed. Essentially all payments, purchases, earnings etc. must be reported. You don't pay tax on them as far I understand, but you can't be a pot of private money abused by a priveleged few. Fundraising would be reported in filing

[2017-05-12 20:11] MarkBennett commented on #75
Hey everyone. I've gotten a few samples of bylaws now and will try to get together a draft of them that I can circulate by next week.

We'll also need to come up with a name we can incorporate under. Here's a [spreadsheet with name ideas](https://docs.google.com/spreadsheets/d/1D0u1MjqH4Ti5ZIW-pARcQYzr6LiSW3ZOrdQnIKiIFyw/edit?usp=sharing).

[2017-05-16 13:08] MarkBennett commented on #75
In my research so far I've come up with a few questions I could use some feedback on.

## What is the purpose of the society?

In order to leave as much meetup business as possible unaffected by incorporating, and to allow us to allow other meetups to easily fundraise in the future, I'm proposing that the societies purpose is educate, connect and inspire the Edmonton developer community for facili

[2017-05-16 16:46] abramhindle commented on #75
I wouldn't worry too much about the meta. But I think you're right. This is a lot of work and if the structure can be used to say fund another meetup, or allow funding of that meetup then so be it. Having the exec grant a budget or something to another meetup is in the power of the basic society form bylaws. I suggest avoid Javascript too much in the society description and whatnot but don't over

[2017-05-16 20:16] MHerszak commented on #75
I like to pay a fee.

I am okay with electronic attendance for specific topics regarding the society.

I am kind of not okay to drift away from JS due to the vast amount of information in this field.

I also don't understand why this society should fund other meetups. I am not opposed I just don't understand it. If their is a valid reason I am all in.

[2017-05-16 20:23] MarkBennett commented on #75
@abramhindle

Agreed. I'd like to bootstrap with Exchange.js for now, then evaluate supporting other meetups in the future. Leaving specific mentions of JS out of it seems to make sense.

Ok. Let's try it with a fee and see. I've got a sample bylaw with a good section on honorary members at the boards discretion. I'll cut and paste that in and go from there.

Agreed about not getting too heavy or

[2017-05-16 20:29] MarkBennett commented on #75
@MHerszak

This is my second long term meetup I've organized (previously I ran YEGrb for 3-4 years or so.) My goal with this society is to directly benefit Excahnge.js, but also recognize that there's a lot we'll be doing which other meetups could benefit from in the future.  The organizers of those meetups might also be doing work that would benefit us. For example, I know some of the other meetu

[2017-05-16 21:52] MarkBennett commented on #75
Just to be clear, I don't see one meetup sponsoring another meetup financially. The society would provide separate bank accounts (or equivalent) to keep the funds raised and spent by each meetup separate. The society would just take care of filling the financials etc.

[2017-05-17 02:52] CAYdenberg commented on #75
Just to play devil's advocate, for fundraising purposes it might send a clearer message if the society is simply ExchangeJS, the money given goes to support ExchangeJS and the members are the meetup attendees (at whatever meetup we choose to have an AGM as a formality).

I see the benefit in "one society, any meetup" structure (seems more DRY) but it might create some confusion when trying to peti

[2017-05-17 03:29] MarkBennett commented on #75
Good thinking @caydenberg. I'll reach out to Jibber and Clio, as well as a few other potential sponsors to see if this would be a concern.

[2017-05-17 13:07] MarkBennett commented on #75
**UPDATE: To clarify, we probably won't record this whole process in the bylaws, just the minimum required to make voting via our issue tracker possible.**

In terms of voting, I'm proposing that we make online voting via our social issue tracker (read Github) the primary way we vote. Each vote would become an issue and would include in the issue description:

1) A description of the article being

[2017-05-17 15:47] MarkBennett commented on #75
I've heard back from a few sponsors now and can confirm that none I've spoken too (including Jobber and Clio) have an issue with the society using a different name.

/cc @caydenberg

[2017-05-17 19:23] CAYdenberg commented on #75
FWIW, I don't think votes with multiple options are a good idea / allowed by Roger's Rules; a vote is to pass a particular motion or not.

If we allow a reasonable timeline to cast votes and everyone allowed to vote is notified (or should be notified) than I see no reason for a formal quorum. I think 7 days is reasonable and is fair given that everyone has different schedules.

[2017-05-17 20:34] MarkBennett commented on #75
I didn't know that @CAYdenberg but it makes sense as I've only read about motions passing or not. It would make things simpler too so let's do that for now.

I'm in favour of not requiring quorum as it would also make things simpler, as long as everyone is comfortable with votes moving on without them after the required time.

[2017-05-23 03:00] ashiazed commented on #74
@MarkBennett
I had no time frame in mind, was gonna play it by ear and see if what kind of interest there is first.
But September sounds do-able.

@CAYdenberg
Python meetup is definitely not all web folks, but we do have a small group.
I wonder if a high-level overview would work good. Like how a Flask/Django API would work with javascript, but cover the javascript side of things. We could even sc

[2017-05-30 21:02] MarkBennett opened #76 "Draft society bylaws"

[2017-05-30 21:03] MarkBennett opened #77 "Select a society name"
[spreadsheet](https://docs.google.com/spreadsheets/d/1D0u1MjqH4Ti5ZIW-pARcQYzr6LiSW3ZOrdQnIKiIFyw/edit?usp=sharing)

[2017-05-30 21:03] MarkBennett opened #78 "Do a NUANS search to prove our name is availability"

[2017-05-30 21:03] MarkBennett opened #79 "Recruit board members"

[2017-05-30 21:04] MarkBennett opened #80 "Complete registration forms"
[registration forms](https://www.servicealberta.ca/business-incorporation.cfm)

[2017-05-30 21:05] MarkBennett opened #81 "Send registration forms and fee to Service Alberta"
[Service Alberta Corporate Registry](http://www.servicealberta.ca/812.cfm)

[2017-05-31 15:23] benzittlau commented on #75
One thing just to throw out there around the bylaws to consider is a "hijacking" of the org.  I've seen this happen in the wild, and while it'd be great if it's never an issue we have to contend with it's something to keep in mind.  Some of the measures you'd take to try and prevent that kind of takeover overlap with some bylaws/measures that seem overly burdensome (like requiring quorum).  For ex

[2017-05-31 15:54] MarkBennett commented on #75
Good tip @benzittlau. The draft bylaws I got from Matt certainly contemplate voting, notice, and quorum but I'll raise the specific issue of hijacking with him when I'm able.

I'm anticipating that the bylaws will be done by the end of June (hopefully sooner) then we can do that paperwork and incorporate immediately afterwards.

[2017-06-12 22:15] MarkBennett opened #82 "Move all questions from meetup to drinks"
I've been thinking a lot about what we can do to normalize the length of the meetup. The meetup length is one of the most frequently cited ways we could improve the monthly meetups.

One option I see for doing this is to eliminate questions after the talk. Instead, speakers would be encouraged to:

a) share their contact information during the presentation
b) connect the audience with the larger c

[2017-06-13 22:50] dlolsen commented on #77
Any movement on this?

[2017-06-13 22:50] dlolsen commented on #78
I can do this once we decide on name!

[2017-06-14 19:13] MarkBennett commented on #77
Hey @dlolsen. Not really. I'm working through some personal projects I've been neglecting over the last few months for the sake of the meetup.

The best way to contribute is probably to add some names to the spreadsheet and we can pick one next week.

[2017-06-14 21:40] MarkBennett opened #83 "Analyse and share 2017 survey results"
The survey is found here:

https://docs.google.com/forms/d/1ELfNmvXRdWjIbYZc7eZJJ_5iRZTIyfXb68CB17lDNeQ/edit#responses

In spreadsheet here:

https://docs.google.com/spreadsheets/d/11cDPnk2KX8jVbd626qQab9xaX49Jo_J4g4Ixr5K_MMU/edit#gid=237687302

We should share the raw results along with an analysis and summary or the key findings and recommendations, then share this with our members.

[2017-06-15 00:35] MarkBennett opened #84 "Host a game show night"
I'm desperate to wrap next year with a game show night in the style of the NPR Ask Me Another show.

I've been thinking of question ideas [here](https://docs.google.com/document/d/107i2xtLWbwznIQdWKHHbUeNlEUdak2KtckGmGAxIG3Y/edit?usp=drivesdk)

[2017-06-15 12:11] MarkBennett opened #85 "Setup CLA Assistant for the website repo"
We should probably have people signing a CLA before they contribute to the website.

This looks like an easy way to do that...

https://cla-assistant.io/

[2017-06-17 22:45] AmeliaBR commented on #82
I don't like the idea of making "Drinks" an essential part of learning and interaction.  Some people won't want to come to a bar even if it starts a half hour earlier.

I also personally find the conversations at the end of presentations one of the more interesting / informative parts of the meetup.  There does need to be some management of the total time, but it would be a shame to lose that.  I

[2017-06-17 23:12] MarkBennett commented on #82
@AmeliaBR good points. My motivation for moving the questions was to encourage people to come for drinks, and to build up some kind of online dialog on issues between the meetups. Perhaps a compromise on this would be to agree that all talks have a fixed length of time for questions, say ten minutes, then move the rest to drinks and online.

I think I'll pull the idea of a round table out of this

[2017-06-18 02:25] christiannaths commented on #82
Personally, I like the Q&A part of the talks quite a bit – it gives me a chance to hear questions/comments/concerns that I didn't think to ask myself. Limiting the amount of time given to any one topic makes a lot of sense to me

The only time I think I've felt Q&A could be improved is the odd time someone asks for help about a specific issue they're dealing with in their own codebase. I'd be in f

[2017-06-18 15:30] Estyn commented on #82
I like the Q&A, but it does drag on sometimes.  A fixed length Q&A makes sense to me. 5 min for questions anything more can be taken offline.

[2017-06-18 15:48] MarkBennett commented on #82
So it sounds like concensus is that Q & A in small amounts is good.

Will try going with 5 minutes of questions and reevaluate in 2018.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-18 15:48] #82 closed

[2017-06-19 14:02] MarkBennett opened #86 "Start doing speaker pre-interviews"
As we're constantly seeking to improve the quality of our talks, we've investigated using practice sessions, providing speaker resources, and more strictly controlling talk format. I'm proposing that along with this, we start some sort of formal speaker pre-interviews a month or so before each talk. These would serve to provide us with important information about the speaker, but also serve to coa

[2017-06-19 20:47] MarkBennett opened #87 "How do we move forward with the hackups"
In terms of organisation and attendence, I'd suggest that the hackups didn't work over the past year. It's unclear to members what their purpose is, and we haven't been able to find someone to devote a reasonable amount of time to managing them if they're to succeed.

I propose that we step back and re-evalutate their purpose with an eye to determine what they are for, how they will be done in the

[2017-06-21 12:40] MarkBennett opened #88 "Create new branding"
It's about time we updated our branding. We have multiple points of contact:

1) slidedecks
2) website
3) social media (Twitter, FB)
4) monthly emails
5) YouTube channel
6) pins or stickers

It would be great to have an updated logo, colours and typography. We'd then want to use that to update the resources above.

[2017-06-21 15:38] MHerszak commented on #88
Do we have funding for a professional designer?

[2017-06-21 16:28] abramhindle commented on #69
We did this one so we're done for the month. Closing.

[2017-06-21 16:28] #69 closed

[2017-06-21 16:29] MarkBennett commented on #88
We haven't done the budget yet so not sure. We've got a few pretty skilled designers who attend the Meetup, so I'm hoping that we can do this with our existing resources.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 16:40] MarkBennett commented on #88
As discussed last night, I assigned this to @seanhealy.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 21:00] MarkBennett opened #89 "Fill 2017-18 Speaker Calendar"
We need to fill our [2017-18 Speaker calendar](https://docs.google.com/spreadsheets/d/1_FOG1K_fUbTlNvqT9hjihiXYt9AhPkZxW6tfZN858VU/edit?usp=sharing) before the start of the meetup. Doing this last year was a *huge* plus and made planning and announcing meetups much easier throughout the year.

At a minimum, we should fill two slots at each meetup to anchor our events.

When recruiting speakers con

[2017-06-21 21:01] MarkBennett commented on #89
As discussed at last night's meeting, I've put @abramhindle in charge of this but all the @ExchangeJS/organizers should plan to step up and track down speakers.

[2017-06-21 21:44] MarkBennett opened #90 "Create 2017-18 budget draft"
As part of going after sponsors, we need to agree on a [budget for the 2017-18 year](https://docs.google.com/spreadsheets/d/1xqSiBIrlRUXhoo_M5OqSJcRRM54HSmKhilcJKOzjCP8/edit?usp=sharing).

We should refer to [last year's expenses]() and [budget](https://docs.google.com/spreadsheets/d/1xqSiBIrlRUXhoo_M5OqSJcRRM54HSmKhilcJKOzjCP8/edit?usp=sharing) as a guide when deciding what to do differently this

[2017-06-21 21:47] MarkBennett commented on #90
Hey @ExchangeJS/organizers. I'm starting work on this years budget. We've got a bit left over in the bank from last year which we can use to kick start this year but we should try to get our goals for 2017-18 sorted soon.

If you have an idea, please do some research on the costs and leave a comment here or add a line for it to the draft budget. We'll all review it at the end of the month and then

[2017-06-22 03:01] CAYdenberg commented on #86
People prepare for talks in different ways and on different schedules, so I'm not sure as a speaker I would be down with this. A month is too early to help prepare a talk, and it's too late to screen/interview people who'd like to participate. Personally I'm in favour of the approach of: if someone wants to talk, let them, give them the Guidelines for Speakers we wrote which warns against the most

[2017-06-22 03:03] CAYdenberg commented on #89
Is that doc public @MarkBennett ? Can I just send it to anyone, or should I just ask people who might be interested?

[2017-06-22 03:15] CAYdenberg commented on #89
Some topic suggestions from the member survey (for inspiration):
- audio (think we had a talk on this recently)
- testing (x3)
- Angular update (probably 2.x)
- Prepack
- more on web components
- Universal/isomorphic javascript
- live code a something/how to be a GitHub hero
- code organization on large projects
- more on tools and practices, not just frameworks

I already volunteered for a talk o

[2017-06-22 03:17] MarkBennett commented on #89
@CAYdenberg yup share away. We should probably post it up on Twitter, FB and everywhere else as well.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-22 04:09] MarkBennett commented on #86
@CAYdenberg interesting points. I agree that requiring this might come off as a little heavy handed. Really, I'm just hoping to find more ways to get people polishing up their talks. Practice and talking with others in advance helps me a lot, but I suppose we need to respect that not everyone's process is the same.

Perhaps we should commit to contacting all our speakers a week or two before they

[2017-06-29 00:59] SteveReiter commented on #89
For those opinion topics I find it can be useful to flip it around, instead of 'This is how to organize code on a larger project' do something like 'These are common problems encountered with code organization on larger projects'. It makes it a little easier to present possible solutions without it devolving since the focus is more on the problems and less on the specific solutions.

[2017-06-29 01:09] SteveReiter opened #91 "Put together a sales pitch for potential sponsors"
We talked about possibly removing the 'Jobs' section of the intro each night and maybe even asking presenters to stop plugging their employer while presenting. If we do this, then what is the incentive for our sponsors?

I think we can definitely get funding from investopedia (my employer) but they are definitely going to ask what they get out of it. I'm sure they won't be the only potential spons

[2017-06-29 02:09] MarkBennett commented on #91
In the past we've laid out specific mentions for sponsors on the website, preroll slides, and a thank you during the night. We'll also be adding a YouTube mention to this mix in the fall. As the sponsorship level increases you get mentioned in more places. ~~On my phone right now but I'll link to the sponsorship package from last year which lays it out in more detail.~~ [Here's the link to last ye

[2017-06-29 02:40] CAYdenberg commented on #91
Correct me if I'm wrong but I _thought_ what we decided was not advertising jobs for companies that 1) don't have a presence at the meetup and 2) aren't sponsors.

I think this applies particularly to a couple companies that we've called out every month but never have anyone there to tell us about them. In this case, what's the real gain for the audience? We can always tweet out their job posting

[2017-06-29 02:51] MarkBennett commented on #91
@CAYdenberg [Here's the sponsorship package from last year.](https://docs.google.com/presentation/d/12_2aRmpxVoZZcnujocWaQICOYgk_t9a0AXaAnf64OSw/edit?usp=sharing) I'm thinking that we should agree on the sponsor benefits them articulate them in this package.

[2017-06-29 02:57] MarkBennett opened #92 "Eliminate job sharing from realtime meetup"
Members and exec have expressed frustration multiple times with companies asking us to share jobs, but then failing to get people out to the meetup to answer questions or represent the companies. We've also had complaints that the job section takes too long. As well, we know the large majority of members aren't actively seeking jobs. This is all supported by our latest member survey.

Though shari

[2017-06-29 03:00] MarkBennett commented on #91
I don't think this has been decided, but given the number of jobs we've got I'd like to propose we move the jobs out of the realtime meetup. I've created issue #92 for this.

To accomodate sponsors, we could start doing a sponsor message as many podcasts do. The sponsors would have a fixed time or number of words to share a short message with our members. They could use this time for whatever they

[2017-06-29 03:16] MarkBennett commented on #91
@SteveReiter thanks for setting this up btw. Want me to make a 2017-18 copy of the sponsorship package we can hack on?

[2017-06-29 03:28] SteveReiter commented on #91
Ya we might as well update it. Doesn't look like it needs a lot of changes.

[2017-06-29 03:35] MarkBennett commented on #91
Here's a copy for 2017-18:

https://docs.google.com/presentation/d/1kIfoh0mcqmi6cWQtL3zWo03Oc9yfh9CsywKT8NQPAU0/edit?usp=sharing

[2017-07-03 15:40] dlolsen opened #93 "FOOD - ideas"
## Food ~~Schedule &~~ Ideas
I've created a ~~Food Schedule~~ [Food Ideas](https://docs.google.com/spreadsheets/d/1L5JsGDs-1_Nk4bzJPo4KSpef463A8ED0RL9zII_KhW8/edit?usp=sharing) spreadsheet to get food organized going forward. I'm looking for ideas for food that has worked in the past, or things people would like to have, as well as any considerations that ought to be taken into account when settin

[2017-07-03 22:02] MarkBennett commented on #93
Thanks for setting up that spreadsheet. I was wondering if we should merge the food in with the spreadsheet we use for planning speakers as the rows the two are almost the same. It could be the meetup planning spreadsheet or something. Here's the link...

https://docs.google.com/spreadsheets/d/1_FOG1K_fUbTlNvqT9hjihiXYt9AhPkZxW6tfZN858VU/edit?usp=drivesdk

Since you're the one managing food I'll l

[2017-07-03 22:04] MarkBennett commented on #93
@dlolsen regarding food supplier advertising. It's an interesting idea if it would reduce our costs. I think we'd want to balance it with the amounts other sponsors are expected to contribute if they want recognition but we could probably work something out. Let's move that discussion to the issue on sponsorship for 2017-18.

[2017-07-03 22:06] MarkBennett commented on #93
BTW, I'll sign in on my computer tonight and add in all of the places we got food from last year.

[2017-07-04 02:45] MarkBennett commented on #93
Just updated the spreadsheet with past food providers that we'd use again, as well as special considerations ($200 budget and request from sponsors for local "non-pizza" as much as possible.)

[2017-07-04 17:11] dlolsen commented on #93
@MarkBennett Yeah, totally makes sense to keep the scheduled food on the Meetup spreadsheet. We can move that over as things are confirmed. To keep that document clutter free I think it would make sense to still collect ideas & info on providers separately on the sheet I created. Thoughts?

[2017-07-04 17:26] MarkBennett commented on #93
@dlolsen makes sense. The other sheet is most useful when I'm prepping notes and confirming details for a particular night.

[2017-07-09 00:51] MarkBennett commented on #70
I'm going to close this for now as there are other things we can work on.

[2017-07-09 00:51] #70 closed

[2017-07-14 14:40] MarkBennett opened #94 "Prompt local developers for admin email / password during setup"
Currently, @CAYdenberg is automatically created as an admin whenever you setup a new install of our website for local development. This happens in an update in `/updates/0.0.1-admins.js`.

Ideally, the website should prompt or read the admin user name and password from the environment during bootstrapping of the website.

[2017-07-14 18:01] MarkBennett commented on #87
@snostorm per our discussion the other day, I'm assigning this to you. Let me know what I can do to help!

[2017-07-14 18:04] MarkBennett commented on #86
I'm going to try contacting speakers a few weeks before the talks, as I basically do this already. I'll open a new issue if we decide to make this a formal part of organising.

[2017-07-14 18:04] #86 closed

[2017-07-14 18:05] MarkBennett commented on #93
@dlolsen want me to close this?

[2017-07-14 18:06] MarkBennett commented on #71
@CAYdenberg Can you elaborate on what was up with this?

I'm working on some other parts of the site and can hack on this if it would be helpful. Just need to know what to do. ;)

[2017-07-14 23:17] CAYdenberg commented on #71
Basically it hasn't worked at all since we added Express/Keystone. We need it to proxy the server generated instead of just watching local files.

I can take a look at it, I'm not just not a webpack expert so I thought I'd see if you knew what the deal was.

[2017-07-14 23:51] MarkBennett commented on #71
@CAYdenberg hmm I see what you mean with the broken hot reloading. I'm pretty sure that there's a good way to proxy things through. I haven't set it up before but I can take a look at it.

[2017-07-15 15:37] MarkBennett commented on #94
The readme and initial bootstrap has been updated. Closing.

[2017-07-15 15:38] #94 closed

[2017-07-16 06:35] MarkBennett opened #95 "Upgrade to the latest webpack"
Our current Webpack dev server setup is broken as hot reloading doesn't proxy through to express properly. Before I fix that I want to upgrade to the latest webpack as there's some new proxy goodness in there for dev that would be useful.

This is blocking issue #71.

[2017-07-16 06:36] MarkBennett commented on #71
The latest Webpack has some proxy stuff that looks like it would be helpful in fixing this. I created issue #95 and will start work on this there.

[2017-07-26 02:56] MarkBennett commented on #91
Hey @SteveReiter. One thing I'd like to do differently than last year, is ship an onboarding sign up form with the sponsorship pack. I had to on-board each sponsor manually last year which took a while, but now that we have a good sense of what we need we could probably wrap it up in a little form that they could submit through the website.

Based off of last year, I think we'd want to know..

1)

[2017-07-30 21:46] MarkBennett opened #96 "Test resolution for bylaws"
This is a example for testing a resolution for the new bylaws.

I resolve that tacos are awesome.

Like this issue if you support the resolution. Dislike if you don't. Comments below.

[2017-07-30 21:48] MarkBennett commented on #96
Closing this.

In favour:

* Mark

Against:

* None

[2017-07-30 21:59] MarkBennett commented on #96
Hey all, just testing this to see if using a GitHub issue would meet our requirements for voting pursuant to the act. Working on tweaking our bylaws but there are some things that might be required by the law which we can't work around.

[2017-08-07 15:34] MarkBennett commented on #96
So the fact that almost anything can be editing after the fact (comments, issue description, reactions) means a GitHub issue isn't well suited to voting on society resolutions. Investigating using a forum or mailing list instead.

Closing.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-07 15:34] #96 closed

[2017-08-07 15:35] MarkBennett commented on #92
Everything to do this should now be in place. Will announce new job board in September.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-07 15:35] #92 closed

[2017-08-07 21:17] dlolsen commented on #93
@MarkBennett Been gone on vacation and then busy catching-up on work… I thought we might get some contribution to food ideas with it open, but yeah, let's close it off.

[2017-08-07 21:18] MarkBennett commented on #93
Sounds good. Closing.

[2017-08-07 21:18] #93 closed

[2017-08-07 21:19] dlolsen commented on #96
Could we build our own simple vote collecting app that fits the criteria? You know, to make more work;)

[2017-08-07 21:22] MarkBennett commented on #96
@dlolsen I was thinking about that too. Perhaps we could start with an off the shelf solution like a Google Group then we could host something on Heroku if that wasn't enough.

[2017-08-07 21:27] dlolsen commented on #96
@MarkBennett Probably good idea. I feel like Google Groups would have the same issue of being able to delete/edit stuff. There doesn't seem to be anything out there to fit this need… does there?

[2017-08-07 21:29] MarkBennett commented on #96
@dlolsen I've just started looking so hard to say for sure. I wasn't under the impression that you couldn't edit posts on Google groups but I just checked and you're correct that they can be deleted which isn't what we really want.

[2017-08-07 21:33] MarkBennett commented on #77
@ExchangeJS/organizers The bylaws are almost ready to circulate for approval (see #76 for the latest) which means we'll want to run our NUANS search soon. I'd like to lock the possible names down this week.

~~@dlolsen what do you need to run a NUANS search? Would next week be realistic for you?~~ Scratch this comment and see #78.

[2017-08-07 21:35] MarkBennett commented on #78
@dlolsen hoping to lock down the name this week (see #77) to coincide with bylaws being sent out. What do you need to do the NUANS search?

[2017-08-07 21:56] dlolsen commented on #78
@MarkBennett The NUANS search can be done anytime, but is only valid for 90 days. All I need is the name we want, and to be sure we're within 90 days of incorporating.

It can also be done concurrent to registering the society which I can help with too; however, I'd say that if we decide on the name prior to being ready to incorporate I might as well just go ahead and do the NUANS search at that t

[2017-08-07 22:08] MarkBennett commented on #89
Hey @ExchangeJS/organizers. We're t-minus 1 month to the first meetup and have only filled one of our ten meetups. In particular we need more demos as we're trying to do one each month.

Over the next few days can you please go out of your way to share the calendar with anyone that you might think would be interested in talking. I realize that @abramhindle is taking the lead on this but everyone's

[2017-08-07 22:08] MarkBennett commented on #78
Ok. Thanks @dlolsen. Looks like we need to decide on that name!

[2017-08-07 22:12] MarkBennett commented on #76
Hey everyone, I've got a first draft to the lawyer (read my husband Matt) and got comments back from him. He's mostly concerned about how we decide to handle electronic voting and if it's possible for that to be done in a way that's in step with the laws about running a society.

We've ruled out using Github as votes and comments can be changed or deleted after the fact which isn't OK. Google grou

[2017-08-09 04:06] MarkBennett commented on #77
I've setup a poll to vote on your favorite name. It closes this Friday at midnight:

https://exchangejs-voting.herokuapp.com/topic/598a89c5e113400004f86238

As part of testing voting systems for the new society, I've made a poll using an app called DemocracyOS that allows for voting and polling members of a group. It's not tied into Github but it's open source so that might be something we could c

[2017-08-09 13:24] MarkBennett commented on #76
I just setup a test poll on DemocracyOS that we can use to test if it will work for voting. Looks good so far:

https://exchangejs-voting.herokuapp.com/topic/598a89c5e113400004f86238

[2017-08-14 15:02] MarkBennett commented on #77
Results of the poll are in and it's a tie between "Dev Edmonton" and "YEGDev".

Unless there are strong objections I'm proposing we pick "Dev Edmonton" and carry on with the rest of the process. It's my preference because a) it's a clearer name for people that might not use Twitter, b) I didn't realize until recently but I actually registered devedmonton.com for another project a few years ago so

[2017-08-14 15:11] dlolsen commented on #77
@MarkBennett I was on the fence between those two options, and while I think that YEG mostly transcends Twitter, Dev Edmonton seems to have a better ring; and hey, if we have the domain, lets go for it!

[2017-08-14 15:16] MarkBennett commented on #77
@dlolsen thanks for the quick reply! ;)

[2017-08-14 15:19] dlolsen commented on #77
@MarkBennett Does the DemocracyOS show what each person voted for? (For the record I voted YegDev, but am on board with Dev Edmonton).

[2017-08-14 16:22] abramhindle commented on #77
Given you already have the domain name that's good. We don't have the twitter account but I don't see why that's super important.

[2017-08-14 20:36] MarkBennett commented on #77
@dlolsen It doesn't seem to say who voted for what, though it does indicate who voted. There appear to be 6 votes and 7 participants so I'm wondering if commenting and not voting is enough to count as participating?

[2017-08-15 19:27] MarkBennett commented on #77
Alright. "Dev Edmonton" it is. Closing.

[2017-08-17 13:17] MarkBennett commented on #76
Thanks for everyone's continued patience on these bylaws. After much work by my wonderful husband Matt, I've got a draft of the bylaws for our society!

These contemplate:

* electronic resolutions, notice, and meetings
* exclude all references to gender
* cover all the possible scenarios and issues I could reasonably anticipate
* provide reasonable limits on any hostile third-parties seizing cont

[2017-08-18 01:27] SteveReiter commented on #91
Looks like we need to resolve the following to get the ball rolling:
1) https://www.exchangejs.com/sponsorship is a 404, did we have this page up in the past? Does it need to be replaced or should we remove the link?
2) The Partner sponsorship level is a bit vague and/or the parts of the site mentioned don't exist, where are we at with that?

[2017-08-18 02:00] MarkBennett commented on #91
The link is new, but we should probably get it live seeing how I added it to the sponsorship package already. ;)

It could just redirect to that survey and we could setup an addon to email us when someone submits it. I'll add an issue to do this and mark it urgent so it doesn't slip through the cracks.

[2017-08-18 02:02] MarkBennett opened #97 "Setup https://www.exchangejs.com/sponsorship"
So that sponsors have a place to initiate the sponsorship process we need to setup https://www.exchangejs.com/sponsorship

We already link to this from our sponsorship package so getting this setup is urgent. (#91)  A simple form to ask stock onboarding questions should suffice, but an email with a template body would work too.

[2017-08-18 02:21] MarkBennett commented on #91
There are three places we propose giving a sponsor coverage right now:

1) A specific mention and a full slide during the thank yous at the meetup
2) A non-specific thank you on a shared partner slide at the meetup
3) A mention on the community section of the website

Champions ($2000+) have gotten 1 and 3, Partners ($1000+) get 2 and 3, and Supporters ($500+) get just 3. Last year we just had Job

[2017-08-18 02:24] MarkBennett commented on #90
@SteveReiter this is another thing that needs to get locked down. I'll take a stab at it later tonight then push it out for review and approval.

[2017-08-18 03:28] MarkBennett commented on #91
I just updated slides to show how we might present these to the sponsors.

![docs google com-presentation-d-1kifoh0mcqmi6cwqtl3zwo03oc9yfh9csywkt8nqpau0-pub-start false loop false delayms 10000 slide id g53387496f38a523_1](https://user-images.githubusercontent.com/61872/29443079-e57e4fb6-8392-11e7-97b6-fd91020bae49.png)

https://docs.google.com/presentation/d/1kIfoh0mcqmi6cWQtL3zWo03Oc9yfh9CsywKT8

[2017-08-18 03:50] MarkBennett commented on #90
Proposed budget updated:

https://docs.google.com/spreadsheets/d/1FPmuaO0DCkMcRtrqYNn8rmXgFPqF7a5RKNpOh-__C1Y/edit?usp=sharing

[2017-08-18 04:15] #97 closed

[2017-08-18 04:28] MarkBennett commented on #91
The [https://exchangejs.com/sponsorship](https://exchangejs.com/sponsorshiphttps://exchangejs.com/sponsorship) link works now. ;)

[2017-08-20 20:44] MarkBennett commented on #76
Hi all,

If you haven't yet, can you please leave any comments you've got on the bylaws by end of the week? I'll sit down with Matt and review them all after that. Thanks!

https://docs.google.com/document/d/1i6oXabir-628csa2bQacHpc17Kmhec9EfkyHij9yQGM/edit?usp=sharing

[2017-08-20 20:46] MarkBennett commented on #75
Hi all,

If you haven't seen #76 yet, can you please leave any comments you've got on the bylaws by end of the week? I'll sit down with Matt and review them all after that.

https://docs.google.com/document/d/1i6oXabir-628csa2bQacHpc17Kmhec9EfkyHij9yQGM/edit?usp=sharing

Getting the bylaws finished is the last big step before we can get incorporated.

[2017-08-20 20:51] MarkBennett commented on #91
@SteveReiter thoughts on these proposed sponsorship levels and associated compensation?

[2017-08-23 18:11] SteveReiter commented on #91
Looks good to me!

[2017-08-23 18:16] SteveReiter opened #98 "Investopedia wants to buy beer"
Investopedia wants to sponsor us by buying a round of beer after each meetup, but this doesn't really help with our budget.

How should we handle this?

[2017-08-23 18:34] MarkBennett commented on #98
I've been thinking a lot about this lately. Firstly, it's awesome that Investopedia is interested in supporting the meetup and I don't want to take that gesture for granted.

That said we've done donations in kind in the past and my sense is that I'd prefer to stick to the sponsorship structure we've laid out already. This seems fairer to other sponsors, and gives us the flexibility to spend the m

[2017-08-24 03:47] MarkBennett opened #99 "Sort jobs on homepage from newest to oldest"
This might actually be a little tricky with the Mongoose data models but it there's a small number then they could be sorted in memory.

[2017-08-24 04:09] MarkBennett commented on #98
Don't want to come across as too much a downer here. Curious to hear what others think of this. We can talk on tomorrow nights call too. I know you can't make it @SteveReiter but if you leave your thoughts here I'll make sure they're shared with everyone else.

[2017-08-24 04:59] SteveReiter commented on #98
I'm somewhat biased since I work for them but wearing my exchangejs hat I say we explain that we need sponsors to satisfy our budget and we can't give up limited sponsorship positions for entities that are not helping us meet the needs of our budget. They are certainly welcome to buy beer after and we can mention that they will be doing so at the event but I say we don't give them sponsorship perk

[2017-08-24 13:22] MarkBennett commented on #98
Thanks for your thoughts @SteveReiter let's see how everyone else feels tonight then make a decision so we can get an answer to Investopedia.

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-25 14:29] MarkBennett opened #100 "Add hackups to Meetup.com"
After our discussion last night I think it's important to get our hackups added to meetup.com.

@seanhealy as you're running these I've assigned this to you but please let me know if there's anything I can do to help.

[2017-08-25 14:32] MarkBennett commented on #98
We spoke about this last night and all agreed that though our preference would be to get the money without any preconditions, it would be better to accept the money for a bar tab than not accept the money at all. To keep things fair we'll honour the support consistently with the way we acknowledge support from our other sponsors.

[2017-08-29 15:43] MarkBennett opened #101 "Thursday, September 7, 2017 Meetup"
## To Do
- [ ] Arrange MC (WHO?)
- [ ] Arrange food (WHERE?)
- [ ] Arrange meetup recording (WHO?)
- [ ] Do pre-interview with speakers 2 weeks prior to meetup
- [ ] Review and tweak preroll slides
- [ ] Create notes (add a link below)
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Update next meetup in notes
- [ ] Update news and software releases in notes
- [ ] Update job list

[2017-08-29 21:22] MarkBennett opened #102 "Setup bank accounts for Dev Edmonton"
We need to determine our banking needs then setup the most cost effective solution possible.

[2017-08-29 23:10] dlolsen commented on #101
I've been looking into food. Italian Centre can do sandwich trays. They just need 48hrs notice. Not quite sure how many trays to get, or if you wanted something fancier on the first meetup. Was thinking 2 [sandwich trays](http://www.italiancentre.ca/panini-sandwich) & some [veggies](http://www.italiancentre.ca/crudite-and-dip).

Is canned pop good for drinks? [Fanta with Barks party pack](https://

[2017-08-29 23:42] MarkBennett commented on #101
Sure @dlolsen. That should be good. Two of the large sandwich trays should be enough, plus some veggies. Might as well get the San Pellegrino too. Can you cost that out and see if it's over $200? Maybe use your judgement and see if we can hit the $200 mark.

[2017-08-29 23:44] dlolsen commented on #101
@MarkBennett It's coming in at $199.33 … with the San Pellegrino.

[2017-08-30 02:16] MarkBennett commented on #101
Do we need someone to pick it up?

[2017-08-30 04:27] MarkBennett commented on #76
I've integrated the final feedback from everyone and from Matt so from my perspective the bylaws are done. Next up is to agree on who would like to do what. I'll fire up another issue for that.

[2017-08-30 04:27] #76 closed

[2017-08-30 04:27] #77 closed

[2017-08-30 04:29] MarkBennett commented on #78
@dlolsen with the bylaws finished (see #76) I think it's time to do our NUANS search. Are you able to run this and get a receipt so we can pay you back?

[2017-08-30 04:30] MarkBennett commented on #79
I've been talking to lots of potential board members, but will sit down tomorrow to gather up a list and try to find out who's interested in what positions by end of week.

[2017-08-30 04:59] dlolsen commented on #78
@MarkBennett I'll get it done and keep the receipt!

We have to choose a legal entity for the name. Choices as follows:

- Society
- Association
- Club
- Foundation
- Institute
- Guild
- Fellowship
- League
- Committee
- Council
- Board
- Centre
- Bureau
- Group
- Pool
- as well as the standard Inc. Corp. Ltd. (and long form versions)

I'd say "Association" seems the most relevant from the less co

[2017-08-30 14:48] MarkBennett commented on #78
Thanks @dlolsen!

"Dev Edmonton Society" is what's in the bylaws, but "Dev Edmonton Association" is fine too. Maybe do Society with Association as the alternate if they'll let us? I seem to remember we can include 2 or 3 in the NUANS search.

[2017-08-30 15:34] dlolsen commented on #78
@MarkBennett If bylaws say Society, that's fine. I don't think it matters. As a matter of practice it seems common to omit the legal entity in colloquial use anyway. If they allow alternates I'll put Association too.

[2017-08-30 15:39] dlolsen commented on #78
@MarkBennett I submitted the request with "Society". There wasn't a place for a 2nd option. I'll let you know when it comes through.

[2017-08-31 03:16] dlolsen commented on #102
@MarkBennett I did a cursory search and it looks like the big banks all offer similar plans. About $2.50/month for account fees with limited transactions (like 10-20) and only a couple in branch transactions. I bank with TD for my business

I'll also peek around at credit unions and other options.

Approximately what kind of monthly transaction volume was done in the past?

[2017-08-31 13:52] MarkBennett commented on #102
In the past, it's been pretty low. Here's the transaction from our ledger from 2016-17:

https://docs.google.com/spreadsheets/d/1Ozvk4DwQWYi0i1VXy5O0NicNYB5cuf-_9pkMnncL_Ko/edit?usp=sharing

There were 13 transactions in total, so 1 sometimes 2 per month.

[2017-08-31 14:11] MarkBennett commented on #78
Emails with search received. I've added these to the incorporation folder in Drive.

[2017-08-31 14:11] #78 closed

[2017-08-31 14:12] MarkBennett commented on #79
I've setup a board application form and will send it out to potential board members today. I'll also share it on our social media.

https://docs.google.com/forms/d/e/1FAIpQLSd71TKKsnMpBn25GZvaiJQqcC0oypaJY_SJTL2S0AYUJrn32g/viewform?usp=sf_link

The form is accessible via Google Drive if you want to see the results.

[2017-08-31 14:30] MarkBennett commented on #75
Bylaws are complete (#76) as is the NUANS search (#78). I'm working on getting the paperwork done now, but we need to lock down the board members to wrap things up (#79).

As many of you have expressed interest in being on the board I've setup a form to sort through everyone:

https://docs.google.com/forms/d/e/1FAIpQLSd71TKKsnMpBn25GZvaiJQqcC0oypaJY_SJTL2S0AYUJrn32g/viewform?usp=sf_link

If you co

[2017-08-31 14:32] MarkBennett commented on #75
/cc @benzittlau @abramhindle @CAYdenberg @MHerszak

[2017-08-31 14:35] MarkBennett commented on #74
@laidibug so we've finally got our ducks in a row and are incorporating a society to help out al the meetups. Would be great if you'd consider applying!

https://docs.google.com/forms/d/e/1FAIpQLSd71TKKsnMpBn25GZvaiJQqcC0oypaJY_SJTL2S0AYUJrn32g/viewform?usp=sf_link

[2017-09-11 19:46] MarkBennett opened #103 "Use `prettier` to reformat all code"
Given the number of people using our code base, I'm thinking it might be nice to agree on a standard formatting for our JavaScript then use a tool like [prettier](https://github.com/prettier/prettier) to enforce it automatically. This would help make code more consistent and readable across the codebase.

It could be implemented as a pre-commit or pre-push hook in git depending on the performance.

[2017-09-14 01:26] CAYdenberg commented on #74
Hey @laidibug I'm still up for giving that talk - if the python group is still interested let me know how we can connect. My contact info is on my profile page.

[2017-10-02 19:02] MarkBennett opened #104 "Oct 2017 Meetup"
## To Do
- [X] Arrange MC (Sean O.)
- [x] Arrange food (WHERE?)
- [ ] Arrange meetup recording (WHO?)
- [ ] Do pre-interview with speakers 2 weeks prior to meetup
- [ ] Review and tweak preroll slides
- [ ] Create notes ([slides](https://docs.google.com/presentation/d/1DH0pD5km1YVCrMRqdTt9AHbgQW84FNZqxj9mcjmCJA0/edit#slide=id.p))
- [ ] Update speakers in notes
- [ ] Update events in notes
- [ ] Up

[2017-10-02 19:03] MarkBennett commented on #104
@snostorm setup an issue to keep track of this months meetup ;)

[2017-10-02 19:04] MarkBennett commented on #104
@dlolsen thoughts on food this month? Remedy did a pretty solid job last year for around $200.

[2017-10-02 19:06] MarkBennett commented on #104
I'm going to make a quick pass at the notes today @snostorm, but feel free to edit them as you see fit.

Also, what do you think about dropping the sponsor messages this month and just saying thanks instead? I'll confirm with Jobber and Investopedia but am pretty sure they'd be ok with it until we can come up with something that isn't quite so stiff.

[2017-10-02 19:13] dlolsen commented on #104
@MarkBennett I'll get on the horn with them! Oct. snuck up on me!

[2017-10-03 14:20] dlolsen commented on #104
@MarkBennett Remedy can do wraps. Did you guys get them halved (or less) last time?

[2017-10-03 17:58] benzittlau commented on #104
@MarkBennett I'm fine with that change to the sponsorship section.

[2017-10-03 21:08] MarkBennett commented on #104
@dlolsen yes, that seemed to work out pretty well thanks!

[2017-10-03 21:09] MarkBennett commented on #104
@benzittlau Thanks. Still partial to the idea of some kind of message but what we had felt awkward, especially with @snostorm MCing this month.

[2017-10-05 15:29] #98 closed

[2017-10-05 15:35] SteveReiter commented on #89
@abramhindle I have someone who can present on A/B testing (John Ryalls). It's not an entirely javascript topic but quite related.

I put him in for March Beginner slot. Let me know if that there's any issues with that.

[2017-10-13 17:36] SteveReiter commented on #89
Found a speaker for advanced topic on Nov. 2nd

Since the spreadsheet is public, they didn't want to include their email, what's the best way to keep track of them?
John Ryalls: [REDACTED]
Kestutis: [REDACTED]

[2017-10-13 17:41] MarkBennett commented on #89
Awesome work @SteveReiter. I just added a second tab to the Exec Contacts spreadsheet and renamed it. Seems like a secure place to share speaker details as it's private and not meant for sharing already:

https://docs.google.com/spreadsheets/d/1-EkmzmvPtHg5syTqLQBg3ZRV_QLhUg3MWSH71T0btRI/edit#gid=1875852727

As this issue is public, I also took the liberty of removing the emails from your comment

[2017-10-19 21:01] MarkBennett commented on #91
This is done for now. Closing.

[2017-10-19 21:01] #91 closed

[2017-12-28 23:45] #74 closed

[2018-03-05 14:53] CAYdenberg commented on #100
@snostorm Just realized I do not have your email address. Can you post it here or send me an email at ydenberg@gmail.com?

[2018-03-05 16:21] MarkBennett commented on #100
I can help with this! Check your email. 😉

On Mon, Mar 5, 2018, 07:53 Casey Ydenberg <notifications@github.com> wrote:

[2018-08-17 18:48] CAYdenberg opened #105 "Speaker Calendar 2018-19"
https://docs.google.com/spreadsheets/d/1cJBKmuUc88IZqc6e7axIDA8Wq-UwmF15nfYWXffymZU/edit#gid=156190243

@MarkBennett any exciting insight from the June survey? Any talk inspiration ideas?

/cc @ExchangeJS/organizers

[2018-08-18 13:34] MarkBennett commented on #105
Here's the results of the survey @CAYdenberg:

https://docs.google.com/forms/d/1YzjG7-NUchvuccESG5RhUVa24oUKDiojjcSNR12jMb4/edit#responses

Some of the stand out ideas for talks include:

1) More demos of app and frameworks
2) Framework intros
3) TypeScript
4) Fishbowl discussions
5) react/vue talks
6) Explore other programming languages
7) Languages which compile to JS
8) Unconference night
9) Ac

[2018-08-19 02:32] CAYdenberg commented on #105
@ryanramage any interest in giving a talk on P2P apps (possibly using dat/beaker)?

[2018-08-20 17:29] MarkBennett commented on #105
Hey @CAYdenberg, @ryanramage and I are signed up to do a pair of talks on DAT in September. As I understand it, his is an introduction to the protocol itself, whereas I'll demo using DAT via Beaker and the CLI. In future talks I'll build out a version of https://devdoc.io running on DAT.

[2018-08-30 02:56] #59 closed

[2018-08-30 02:56] #75 closed

[2018-08-30 02:56] #79 closed

[2018-08-30 02:56] #80 closed

[2018-08-30 02:56] #81 closed

[2018-08-30 02:56] #83 closed

[2018-08-30 02:56] #84 closed

[2018-08-30 02:56] #88 closed

[2018-08-30 02:56] #89 closed

[2018-08-30 02:56] #90 closed

[2018-08-30 02:56] #101 closed

[2018-08-30 02:56] #104 closed

[2018-08-31 17:45] abramhindle opened #106 "Fix dependency"
visionmedia / debug should be updated if it is actually used. The version is out of date.

[2018-08-31 17:46] abramhindle opened #107 "Update Meetup Page with new meetings for the Fall"
The September meetings are not listed on the webpage. Or any of the Fall meetings.

[2018-08-31 18:14] MarkBennett commented on #107
@abramhindle the next event is listed on meetup.com at:

https://www.meetup.com/startupedmonton/events/253997418/

Let's just drop the list of meetups from the website and ask people to visit meetup.com for details and to RSVP. I'll update the September meetup with details on the talks so we can start advertising.

[2018-08-31 19:40] MarkBennett commented on #106
Need to find some time to take care of this. Looks like we've got a lot to update.

[2018-09-04 16:34] MarkBennett commented on #107
I've dropped the list of past meetups and linked to meetup.com. Closing.

[2018-09-04 16:34] #107 closed

[2018-09-04 16:34] MarkBennett opened #108 "September 2018 Meetup"
## To Do
- [X] Arrange MC (Sean Ouiment)
- [x] Arrange food NHON HOA SANDWICH BAR delivered via Skip 6pm - 6:30pm
- [X] Arrange meetup recording (Mark)
- [ ] ~Do pre-interview with speakers 2 weeks prior to meetup~
- [ ] Review and tweak preroll slides
- [x] Create notes [see notes](https://docs.google.com/presentation/d/18qbkttjprQ1mp7bk1nPe2vekHD3f8Jm4yYKyuIw06ZM/edit?usp=sharing)
- [x] Update s

[2018-09-04 16:38] MarkBennett commented on #108
@seanhealy is organizing some stuff for hactoberfest. No specifics yet but I've asked him to let us know what if anything we can announce.

Dev Edmonton is also organizing an unconference style event for November as a sort of coming out party. Details to follow but I'm hoping to have a landing page up for people to sign up to for info and that we can share on Thursday night.

I haven't heard from

[2018-09-04 16:47] abramhindle commented on #108
I'll MC

[2018-09-04 16:48] MarkBennett commented on #108
I think @snostorm is gong to MC this month @abramhindle.

Can you confirm Sean?

[2018-09-04 20:13] CAYdenberg commented on #108
You're looking for a react basics talk for **this week**? I think I could throw something together

[2018-09-05 02:48] MarkBennett commented on #108
We are. That would be great if you think it's achievable. Thoughts @snostorm?

[2018-09-06 00:27] snostorm commented on #108
I'd be cool with an extra talk @CAYdenberg! Still enough time to put it together before tomorrow?

@abramhindle I am cool to trade off or get an assist on the MC'ing efforts tomorrow  – although it might be easiest to start in October. Part of my homework tonight is getting the slides/news/etc. together so that typically pairs up well with MC'ing. But if you want to email/Twitter DM me we can coor

[2018-09-06 00:29] snostorm commented on #108
@MarkBennett et. all based on the feedback from the membership survey I'd vote either: no discussion tomorrow _or_ we skip recording it. I feel trying to use the microphones for this session makes this too formal and probably a few people shy.

[2018-09-06 01:14] abramhindle commented on #108
@snostorm Hi, go ahead and MC. I was just trying to be helpful :)

[2018-09-06 01:26] CAYdenberg commented on #108
I'm on it! The title will be "Why and how to start with React"

[2018-09-06 02:52] ryanramage commented on #108
Is there a slide deck that I can edit my pic/profile and company info?

[2018-09-06 02:53] MarkBennett commented on #108
@snostorm Why don't we skip recording then vote at the meetup on if people want a discussion?

[2018-09-06 02:54] MarkBennett commented on #108
@snostorm can you help @ryanramage with this?

[2018-09-06 02:55] MarkBennett commented on #108
@snostorm BTW if you or anyone else is looking for the A/V equipment from Startup Edmonton I've swiped it and have it here at my house so I can work on getting it setup in advance.

[2018-09-06 04:58] snostorm commented on #108
@ryanramage I already have it somewhat prepared (no employer info but can sneak it in) ... for this season's deck I am trying to use "photos from the past" (as much as possible) but I am open to swapping it. I assume you mean the general meetup deck and not the shared deck with @MarkBennett for the DAT talk?

https://docs.google.com/presentation/d/18qbkttjprQ1mp7bk1nPe2vekHD3f8Jm4yYKyuIw06ZM/edit?

[2018-09-06 14:47] ryanramage commented on #108
@snostorm , I looked at the deck and it looks great. I will leave it as is.

[2018-09-06 15:06] MarkBennett commented on #108
@snostorm New slide deck looks AWESOME. Nice work! 🎉

[2018-09-07 15:28] MarkBennett commented on #108
Thanks to @snostorm for an awesome meetup this month!

Closing this issue.

[2018-09-07 15:28] #108 closed

[2019-10-08 00:53] djphan opened #109 "Google Maps Embed Key"
Google Maps Embed Docs require an API key. Since the website is open source it'll be nice to have a way to get an api key assigned to the group instead of setting up a personal one to fix the google maps embed on the site.

Docs here: https://developers.google.com/maps/documentation/embed/start

[2021-02-13 21:45] #32 closed

[2021-02-13 21:45] #49 closed

[2021-02-13 21:45] #50 closed

[2021-02-13 21:45] #51 closed

[2021-02-13 21:45] #52 closed

[2021-02-13 21:45] #53 closed

[2021-02-13 21:45] #54 closed

[2021-02-13 21:45] #55 closed

[2021-02-13 21:45] #56 closed

[2021-02-13 21:45] #57 closed

[2021-02-13 21:45] #58 closed

[2021-02-13 21:45] #60 closed

[2021-02-13 21:45] #61 closed

[2021-02-13 21:45] #71 closed

[2021-02-13 21:45] #72 closed

[2021-02-13 21:45] #85 closed

[2021-02-13 21:45] #87 closed

[2021-02-13 21:45] #95 closed

[2021-02-13 21:45] #99 closed

[2021-02-13 21:45] #100 closed

[2021-02-13 21:45] #102 closed

[2021-02-13 21:45] #103 closed

[2021-02-13 21:45] #105 closed

[2021-02-13 21:45] #106 closed

[2021-02-13 21:45] #109 closed

[2021-02-13 21:45] #16 closed

[2021-02-13 21:45] #18 closed

[2021-02-13 21:45] #21 closed

[2021-02-13 21:45] #22 closed

[2021-02-13 21:45] #29 closed

[2021-02-13 21:45] #30 closed